<FlexBoxLayout class="error">
  <StackLayout class="inner" orientation="vertical">
    <FlexBoxLayout class="errimg"> 
      <Label class="iconerr" text="&#xf233;"></Label>
    </FlexBoxLayout>
    <FlexBoxLayout class="errimg">
      <Label text="internal Server Error" class="text"></Label>
    </FlexBoxLayout>
  </StackLayout>
</FlexBoxLayout>
