<FlexBoxLayout class="error">
  <StackLayout class="inner" orientation="vertical">
    <FlexBoxLayout class="errimg">
      <Label class="iconerr" text="&#xf519;"></Label>
    </FlexBoxLayout>
    <FlexBoxLayout class="errimg">
      <Label text="No Internet Connection" class="text"></Label>
    </FlexBoxLayout>
  </StackLayout>
</FlexBoxLayout>
