.error{
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.iconerr{
  color: #ffffff;
  font-size: 150px;
  font-family:'Font Awesome 5 Free','fa-solid-900';
}
.errimg{
  width: 100%;
  justify-content: center;
  align-items: center;
}
.inner{
  width: 100%;
}
.text{
  color: red;
}
