<ScrollView>
  <GridLayout class="fullpage" rows="60,*,60" col="*">
        <FlexBoxLayout class="title" row="0" col="0">
            <Label class="acttitle" text="InfinityRealm"></Label>
        </FlexBoxLayout>
        <GridLayout row="1" col="0" rows="150,*" columns="10,*,10">
          <FlexBoxLayout class="introtitle" row="0" col="1">
              <Label text="Change youre password."></Label>
          </FlexBoxLayout>
          <StackLayout row="1" col="1" orientation="vertical">
            <TextField  hint="new password"
                        class="text"
                        returnKeyType="next"
                        [(ngModel)]="newpass"
                        keyboardType="email"
                        secure = false
                        autocorrect="false"
                        ></TextField>
            <TextField  hint="confirm new password"
                        class="text"
                        returnKeyType="done"
                        [(ngModel)]="confirmnewpass"
                        keyboardType="email"
                        secure = false
                        autocorrect="false"></TextField>
            <ActivityIndicator [busy]="activity" class="activity"></ActivityIndicator>
          </StackLayout>
        </GridLayout>
        <FlexBoxLayout (tap)="changepass()" class="myfooter" row="2" col="0">
            <Label text="confirm"></Label>
        </FlexBoxLayout>
  </GridLayout>
</ScrollView>
