.text{
  border-width: .1;
  height: 50;
  border-color: rgb(242, 170, 76);
  placeholder-color: rgb(242, 170, 76);
  font-size: 15px;
  font-family: "NanumGothic","NanumGothic-Regular";
  background-color: rgb(16, 24, 32);
  border-radius: 5%;
  margin-top: 5%;
  color:rgb(242, 170, 76);
}
.introtitle{
  justify-content: center;
  align-items: center;
}
.title{
  justify-content: center;
  align-items: center;
  border-bottom-width: .1;
  border-color: rgb(242, 170, 76);
}
.acttitle{
  font-family : 'Monoton','Monoton-Regular';
  font-size: 25px;
  color: rgb(242, 170, 76);
}
.myfooter{
  justify-content: center;
  align-items: center;
  border-top-width: .1;
  border-color: rgb(242, 170, 76);
}
