<ScrollView>
  <GridLayout class="fullpage" rows="60,*,60" columns="*">
    <FlexBoxLayout class="topsection" row="0" col="0">
        <Label class="title" text="InfinityRealm"></Label>
    </FlexBoxLayout>
    <GridLayout row="1" col="0" rows="150,*" columns="10,*,10">
        <FlexBoxLayout class="introductory" row="0" col="1">
            <Label text="Recover you're account."></Label>
        </FlexBoxLayout>
        <StackLayout row="1" col="1" orientation="vertical">
          <TextField  hint="Enter youre email."
                      [(ngModel)] = "email"
                      keyboardType="email"
                      returnKeyType="done"
                      class="recoveryform"></TextField>
          <Button *ngIf="showbtn===true"(tap)="verification()" text="Send Code"></Button>
          <ActivityIndicator [busy]="activity" class="activity"></ActivityIndicator>
        </StackLayout>
    </GridLayout>
    <FlexBoxLayout class="bottomsection" row="2" col="0" (tap)="backtologin()">
        <Label text="Know you're password?"></Label>
    </FlexBoxLayout>
  </GridLayout>
</ScrollView>
<page-router-outlet></page-router-outlet>
