<ScrollView>
    <GridLayout class="fullpage" rows="60,*,60" columns="*">
      <FlexBoxLayout row="0" col="0" class="introductorytitle">
          <Label class="actualtitle" text="InfinityRealm"></Label>
      </FlexBoxLayout>
      <GridLayout row="1" col="0" rows="150 , *" columns="10,*,10">
        <FlexBoxLayout class="introductory" row="0" col="1">
            <Label text="Verify you're email."></Label>
        </FlexBoxLayout>
        <StackLayout row="1" col="1" orientation="vertical">
          <TextField  hint="Enter the code."
                      [(ngModel)]= "verifycode"
                      keyboardType="phone"
                      returnKeyType="done"
                      class="recoveryform"></TextField>
          <Button *ngIf="showbtn===true" (tap)="changepasspge()" text="Verify"></Button>
          <ActivityIndicator [busy]="activity" class="activity"></ActivityIndicator>
        </StackLayout>
      </GridLayout>
      <FlexBoxLayout (tap)="resendpage()" class="bottomsection" row="2" col="0">
        <Label text="Resend code."></Label>
      </FlexBoxLayout>
    </GridLayout>
</ScrollView>
<page-router-outlet></page-router-outlet>
