.introductorytitle{
  justify-content: center;
  align-items: center;
  border-bottom-width: .1;
  border-color: rgb(242, 170, 76);
}
.actualtitle{
  font-family : 'Monoton','Monoton-Regular';
  font-size: 25px;
  color: rgb(242, 170, 76);
}
.introductory{
  justify-content: center;
  align-items: center;
}
.recoveryform{
  border-width: .1;
  height: 50;
  border-color: rgb(242, 170, 76);
  placeholder-color: rgb(242, 170, 76);
  font-size: 15px;
  font-family: "NanumGothic","NanumGothic-Regular";
  background-color: rgb(16, 24, 32);
  border-radius: 5%;
  color:rgb(242, 170, 76);
}
Button{
  background: linear-gradient(to top right, #ff9900 12%, #ffff66 100%);
  color: white;
  border-radius: 5%;
  margin-top: 5%;
}
.bottomsection{
  justify-content: center;
  align-items: center;
  border-top-width: .1;
  border-color: rgb(242, 170, 76);
}
