<GridLayout rows="*" columns="*" class="fullpage">
  <FlexBoxLayout class="mapping" row="0" col="0">
    <ContentView height="100%" width="100%">
        <Mapbox
            accessToken="pk.eyJ1IjoidHJldm9yOTAwdHJpbGwiLCJhIjoiY2sxY2Fta2xmMGV0bjNjbzZqZDNuZnhuayJ9.aoLD1kZ_7pXbp4wZR4oJDg"
            mapStyle="dark"
            latitude="50.467735"
            longitude="13.427718"
            hideCompass="true"
            zoomLevel="18"
            showUserLocation="false"
            disableZoom="false"
            disableRotation="true"
            disableScroll="false"
            disableTilt="false"
            (mapReady)="onMapReady($event)">
        </Mapbox>
      </ContentView>
  </FlexBoxLayout>
  <!--THIS IS HIDDEN BEHIND THE CONTROLS-->
  <GridLayout  style.marginTop="40" style.marginBottom="48" class="controls" row="0" col="0" rows="40,*,55" columns="*">
      <FlexBoxLayout col="0" row="0"class="search">
            <TextField  [(ngModel)]="query"
                        returnKeyType="done"
                        keyboardType="email"
                        autocorrect="false"
                        class="search-input"
                        hint="search an event..."
                        color="black" ></TextField>
            <FlexBoxLayout class="opt">
              <Label color="black" text="hide"></Label>
            </FlexBoxLayout>
      </FlexBoxLayout>
      <FlexBoxLayout col="1" row="2" class="markerowner">
          <FlexBoxLayout class="outermymarker">
              <StackLayout orientation="vertical">
                  <FlexBoxLayout class="onemarker">
                      <Label color="black" text="me"></Label>
                  </FlexBoxLayout>
                  <FlexBoxLayout class="onemarker">
                    <Label color="red" class="myicons" text="&#xf3c5;"></Label>
                  </FlexBoxLayout>
                  <FlexBoxLayout class="onemarker">
                    <Label color="black" [text]="mypoints"></Label>
                  </FlexBoxLayout>
              </StackLayout>
          </FlexBoxLayout>
          <FlexBoxLayout class="outermymarker">
            <StackLayout orientation="vertical">
                <FlexBoxLayout class="onemarker">
                    <Label color="black" text="following"></Label>
                </FlexBoxLayout>
                <FlexBoxLayout class="onemarker">
                  <Label color="red" class="myicons" text="&#xf3c5;"></Label>
                </FlexBoxLayout>
                <FlexBoxLayout class="onemarker">
                  <Label color="black" [text]="myfollowingpoints"></Label>
                </FlexBoxLayout>
            </StackLayout>
          </FlexBoxLayout>
          <FlexBoxLayout class="outermymarker">
            <StackLayout orientation="vertical">
                <FlexBoxLayout class="onemarker">
                    <Label color="black" text="trending"></Label>
                </FlexBoxLayout>
                <FlexBoxLayout class="onemarker">
                  <Label color="red" class="myicons" text="&#xf3c5;"></Label>
                </FlexBoxLayout>
                <FlexBoxLayout class="onemarker">
                  <Label color="black" text="0"></Label>
                </FlexBoxLayout>
            </StackLayout>
          </FlexBoxLayout>
          <FlexBoxLayout (tap)="addlocation()" class="outermymarker">
            <StackLayout orientation="vertical">
                <FlexBoxLayout class="onemarkeradd">
                  <Label class="myicons2" text="&#xf59f;"></Label>
                </FlexBoxLayout>
            </StackLayout>
          </FlexBoxLayout>
      </FlexBoxLayout>
  </GridLayout>
</GridLayout>

<!--THIS IS THE UPLOAD SUPPORT HIDDEN-->
<GridLayout (swipe)="hidemarkuploader($event)" [translateY]="heightforanime" id="placeamarker" class="fullpage" rows="90,*,90" columns="10,*,10">
  <FlexBoxLayout style.marginTop="28" (tap)="tappedhide()" row="0" col="1" class="toppartofuploader">
    <Label class="myicons3" text="&#xf078;"></Label>
  </FlexBoxLayout>
  <FlexBoxLayout row="1" col="1" class="datetime">
    <StackLayout orientation="vertical">
      <DatePicker year="2010" month="4" day="20"
            [minDate]="minDate" [maxDate]="maxDate"
            (dayChange)="onDayChanged($event)"
            (monthChange)="onMonthChanged($event)"
            (yearChange)="onYearChanged($event)"
            verticalAlignment="center"
            class="mydatepicker">
      </DatePicker>
      <FlexBoxLayout class="chngetext">
          <Label class="datetext" text="Date of this event: "></Label>
          <Label class="actdatetext" [text]="daytext + '/'"></Label>
          <Label class="actdatetext" [text]="monthtext + '/'"></Label>
          <Label class="actdatetext" [text]="yeartext"></Label>
      </FlexBoxLayout>
      <FlexBoxLayout class="chngetext2">
          <TextField  [(ngModel)]="name"
                      returnKeyType="done"
                      keyboardType="email"
                      autocorrect="false"
                      row="0"
                      col="0"
                      class="name-input"
                      hint="name of the event"
                       ></TextField>
      </FlexBoxLayout>
      <FlexBoxLayout class="chngetext2">
          <TextView [(ngModel)]="description" hint="Brief description(optional).." editable="true"
                  class="description-input"></TextView>
      </FlexBoxLayout>
    </StackLayout>
  </FlexBoxLayout>
  <FlexBoxLayout style.marginBottom="48" row="2" col="1" (tap)="placemark()" class="finisher">
      <Label class="actdatetext" text="Place Marker."></Label>
  </FlexBoxLayout>
</GridLayout>
