.mapping{
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.search{
  background-color: transparent;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border-radius: 10%;
  width: 85%;
}
.outerbox{
  justify-content: center;
  align-items: center;
  width: 100%;
}
.search-input{
  border-width: .1;
  border-color: #999999;
  placeholder-color: #999999;
  font-size: 15px;
  font-family: "NanumGothic","NanumGothic-Regular";
  background-color: #ffffff;
  border-bottom-left-radius: 10%;
  border-top-left-radius: 10%;
  color: black;
  width:80%;
}
.opt{
  width: 20%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-bottom-right-radius: 10%;
  border-top-right-radius: 10%;
  border-width: .1;
  border-color: #999999;
}
.markerowner{
  z-index: 1;
  width: 85%;
  background-color: #ffffff;
  border-radius: 10%;
  justify-content: center;
  align-items: center;
}
.outermymarker{
  width: 25%;
  justify-content: center;
  align-items: center;
  height:100%;
}
.onemarker{
  width: 100%;
  justify-content: center;
  align-items: center;
  height:33.3%;
}
.onemarkeradd{
  width: 100%;
  justify-content: center;
  align-items: center;
  height:100%;
}
.myicons{
  font-family:'Font Awesome 5 Free','fa-solid-900';
  font-size: 15;
}
.myicons2{
  font-family:'Font Awesome 5 Free','fa-solid-900';
  font-size: 20;
  color : #999999;
}
.myicons3{
  font-family:'Font Awesome 5 Free','fa-solid-900';
  font-size: 15;
  color: rgb(242, 170, 76);
}
.datetime{
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.mydatepicker{
  width: 100%;
  color: rgb(242, 170, 76);
}
.mytimepicker{
  width: 100%;
  color: rgb(242, 170, 76);
}
.chngetext{
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.chngetext2{
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20;
}
.datetext{
  color: #ffffff
}
.actdatetext{
  color: rgb(242, 170, 76);
}
.toppartofuploader{
  justify-content: flex-start;
  align-items: center;
  width:100%;
}
.description-input{
  border-width: .1;
  border-color: rgb(242, 170, 76);
  placeholder-color: rgb(242, 170, 76);
  font-size: 15px;
  font-family: "NanumGothic","NanumGothic-Regular";
  background-color: rgb(16, 24, 32);
  color: rgb(242, 170, 76);
  width: 80%;
  height: 120;
}
.name-input{
  border-width: .1;
  border-color: rgb(242, 170, 76);
  placeholder-color: rgb(242, 170, 76);
  font-size: 15px;
  font-family: "NanumGothic","NanumGothic-Regular";
  background-color: rgb(16, 24, 32);
  border-radius: 5%;
  color: rgb(242, 170, 76);
  width: 80%;
}
.finisher{
  justify-content: center;
  align-items: center;
  width: 100%;
}
