<ScrollView>
    <GridLayout rows="80,*,80" columns="*" class="fullpage">
        <FlexBoxLayout row="0" col="0" class="details" (tap)="toreset()">
          <Label textWrap="true" class="loginhelp" text="Forgot you're password?" color="#ffffff" ></Label>
        </FlexBoxLayout>
        <ScrollView row="1" col="0">
          <GridLayout rows="150,150,*" columns="10,*,10">
            <FlexBoxLayout  row="0" col="1" class="addinfo" >
              <Label textWrap="true" class="apptitle" text="InfinityRealm"></Label>
            </FlexBoxLayout>
            <StackLayout row="1" col="1">
              <GridLayout rows="50,20,50" columns="*">
                <TextField  [(ngModel)]="email"
                            returnKeyType="next"
                            keyboardType="email"
                            autocorrect="false"
                            row="0"
                            col="0"
                            class="email-input"
                            hint="email"></TextField>
                <TextField  [(ngModel)]="password"
                            returnKeyType="done"
                            autocorrect="false"
                            row="2"
                            col="0"
                            class="password-input"
                            hint="password"
                            secure=true></TextField>
              </GridLayout>
            </StackLayout>
            <StackLayout  row="2" col="1">
              <Button *ngIf="showbtn===true" (tap)="login()" class="loginbtn" text="Log In"></Button>
              <ActivityIndicator [busy]="activity" class="activity"></ActivityIndicator>
            </StackLayout>
          </GridLayout>
        </ScrollView>
        <FlexBoxLayout row="2" col="0" class="signup" (tap)="tosignup()">
          <Label textWrap="true" class="signupbtntxt" text="Sign up" color="#ffffff"></Label>
        </FlexBoxLayout>
    </GridLayout>
</ScrollView>
<page-router-outlet></page-router-outlet>
