.loginbtn{
  background: linear-gradient(to top right, #ff9900 12%, #ffff66 100%);
  color: white;
  border-radius: 5%;
}
.addinfo{
  justify-content: center;
  align-items: center;
}
.details{
  justify-content: center;
  align-items: center;
  border-bottom-width: .1;
  border-color: rgb(242, 170, 76);
}
.signup{
  justify-content: center;
  align-items: center;
  border-top-width: .1;
  border-color: rgb(242, 170, 76);
}
.dialoging{
  width: 100%;
  height: 100%;
  background-color: #565555;

}
.email-input{
  border-width: .1;
  border-color: rgb(242, 170, 76);
  placeholder-color: rgb(242, 170, 76);
  font-size: 15px;
  font-family: "NanumGothic","NanumGothic-Regular";
  background-color: rgb(16, 24, 32);
  border-radius: 5%;
  color: rgb(242, 170, 76);
}
.password-input{
  border-width: .1;
  border-color: rgb(242, 170, 76);
  placeholder-color: rgb(242, 170, 76);
  font-size: 15px;
  background-color: rgb(16, 24, 32);
  border-radius: 5%;
}
.tre{
  justify-content: center;
  align-items: center;
}
.ds{
  background-color: #565555;
  width:40%;
  height: 20%;
}
