<ScrollView>
    <GridLayout class="fullpage" rows="*,*,60" columns="*">
        <FlexBoxlayout #cliptobounds row="0" col="0" class="outer">
          <FlexBoxlayout class="actimage">
            <Image id="croppedImage" class="imageprof" horizontalAlignment="center" strech="fill" [src]="myimagetesing" ></Image>
          </FlexBoxlayout>
        </FlexBoxlayout>
        <GridLayout row="1" col="0" rows="40,*" columns="20,*,20">
          <FlexBoxlayout row="0" col="1" class="info">
            <Label text="upload youre profile picture."></Label>
          </FlexBoxlayout>
          <StackLayout row="1" col="1" orientation="vertical">
            <Button (tap)="togallery()" text="Choose an Image."></Button>
            <Button (tap)="tocamera()" text="Take a Photo."></Button>
            <Button *ngIf="showbtn===true" (tap)="uploadchosen()" text="Upload."></Button>
            <ActivityIndicator [busy]="activity" class="activity"></ActivityIndicator>
          </StackLayout>
        </GridLayout>
        <FlexBoxlayout (tap)="later()" class="myfooter" row="2" col="0">
            <Label text="Maybe Later."></Label>
        </FlexBoxlayout>
    </GridLayout>
</ScrollView>
