.myfooter{
  justify-content: center;
  align-items: center;
  border-top-width : .1;
  border-color: rgb(242, 170, 76);
}
.actimage{
  justify-content: center;
  align-items: center;
  border-radius: 100%;

  overflow: hidden;
  width:200;
  height:200;
}
.outer{
  justify-content: center;
  align-items: center;
  width: 100%;
}
.info{
  justify-content: center;
  align-items: center;
}
Button{
  background: linear-gradient(to top right, #ff9900 12%, #ffff66 100%);
  color: white;
  border-radius: 5%;
  margin-top: 5%;
}
.imageprof{
  width: 100%;
  height: auto;
  border-radius: 100%;
  border-width : 1;
  border-color: rgb(242, 170, 76);
}
