 .signupheader{
   border-bottom-width: .1;
   border-color: rgb(242, 170, 76);
   justify-content: center;
   align-items: center;
 }
 .signupfooter{
   border-top-width: .1;
   border-color: rgb(242, 170, 76);
   justify-content: center;
   align-items: center;
 }
.signupheadertext{
  color: rgb(242, 170, 76);
  font-size: 25px;
  font-family : 'Monoton','Monoton-Regular';
}
.signuptext{
  justify-content: center;
  align-items: center;
}
.signupform{
  border-width: .1;
  height: 50;
  border-color: rgb(242, 170, 76);
  placeholder-color: rgb(242, 170, 76);
  font-size: 15px;
  font-family: "NanumGothic","NanumGothic-Regular";
  background-color: rgb(16, 24, 32);
  border-radius: 5%;
  color: rgb(242, 170, 76);
  margin-top: 4%;
}
.create-account{
  background: linear-gradient(to top right, #ff9900 12%, #ffff66 100%);
  color: white;
  border-radius: 5%;
  margin-top: 5%;
}
