<ScrollView>
  <GridLayout rows="60,*,60" columns="*" class="fullpage">
      <FlexBoxLayout row="0" col="0" class="signupheader">
          <Label textWrap="true" class="signupheadertext" text="InfinityRealm"></Label>
      </FlexBoxLayout>
      <GridLayout row="1" col="0" rows="30,*" columns="10,*,10">
          <FlexBoxLayout row="0" col="1" class="signuptext">
              <Label textWrap="true" class="actuallsignuptext" text="Create you're Account"></Label>
          </FlexBoxLayout>
          <StackLayout row="1" col="1" orientation="vertical">
              <TextField  hint="Email"
                          [(ngModel)]="email"
                          keyboardType="email"
                          returnKeyType="next"
                          class="signupform"></TextField>
              <TextField hint="Phone number"
                          [(ngModel)]="phone"
                          keyboardType="phone"
                          returnKeyType="next"
                          class="signupform"></TextField>
              <TextField hint="Fullname"
                          [(ngModel)]="fullname"
                          returnKeyType="next"
                          class="signupform"></TextField>
              <TextField hint="Username"
                          [(ngModel)]="nickname"
                          returnKeyType="next"
                          class="signupform"></TextField>
              <TextField  hint="Password"
                          [(ngModel)]="password"
                          returnKeyType="done"
                          secure = true
                          class="signupform"></TextField>
              <Button *ngIf="showbtn===true" class="create-account" (tap)="create()" text="Create Account"></Button>
              <ActivityIndicator [busy]="activity" class="activity"></ActivityIndicator>
          </StackLayout>
      </GridLayout>
      <FlexBoxLayout row="2" col="0" class="signupfooter" (tap)="goback()">
          <Label textWrap="true" text="Already have an account?"></Label>
      </FlexBoxLayout>
  </GridLayout>
</ScrollView>
<page-router-outlet></page-router-outlet>
