<ScrollView>
  <GridLayout class="fullpage" rows="60,*,60" columns="*">
      <FlexBoxLayout class="title" row="0" col="0">
          <Label class="acttitle" text="InfinityRealm"></Label>
      </FlexBoxLayout>
      <GridLayout row="1" col="0" rows="150,80,*" columns="10,*,10">
          <FlexBoxLayout class="introductory" row="0" col="1">
            <Label text="Verify youre email."></Label>
          </FlexBoxLayout>
          <StackLayout row="1" col="1" orientation="vertical">
              <TextField returnKeyType="done"
                          [(ngModel)]="verification"
                          keyboardType="phone"
                          autocorrect="false"
                          hint="verify youre email"
                          class="myinput"></TextField>
          </StackLayout>
          <StackLayout row="2" col="1">
              <Button *ngIf="showbtn===true" (tap)="nowverify()" text="verify"></Button>
              <ActivityIndicator [busy]="activity" class="activity"></ActivityIndicator>
          </StackLayout>
      </GridLayout>
      <FlexBoxLayout class="myfooter" row="2" col="0">
        <Label (tap)="credentials()" text="Re-enter credentials"></Label>
      </FlexBoxLayout>
  </GridLayout>
</ScrollView>
