/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '~nativescript-theme-core/css/core.light.css';

Label.apptitle{
  font-family : 'Monoton','Monoton-Regular';
  font-size: 37;
  color: rgb(242, 170, 76);
}
Label{
  font-family: "NanumGothic","NanumGothic-Regular";
  font-size: 15px;
  color: #ffffff;
}
.activity{
  color: rgb(242, 170, 76);
  width : 50;
  height: 50;
}
.outerpage{
  height: 100%;
}
.fullpage{
  background: rgb(16, 24, 32);
  height: 100%;
}
