#artistspiccont{
  border-radius: 100%;
  border-width: .1;
  border-color: rgb(242, 170, 76);
}
.topnavigation{
  border-bottom-width: .1;
  border-color: rgb(242, 170, 76);
  height:50;
}
.bottomarea{
  border-top-width: .1;
  border-color: rgb(242, 170, 76);
}
.uppertext{
  color: rgb(242, 170, 76);
  font-size: 20px;
  font-family : 'Monoton','Monoton-Regular';
}
.outertitleshield{
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%;
}
.outertitleshieldimage{
  justify-content: center;
  align-items: center;
  width: 40;
  height: 40;
  border-radius: 100%;
  margin: 5;
}
.bbottomtext{
  font-size: 13px;
}
.icons{
  font-family:'Font Awesome 5 Free','fa-solid-900';
  font-size: 20px;
  height: auto;
}
.myimage{
  border-radius: 100%;
  width:100%;
  height:100%;
  border-width: 1;
  border-color: rgb(242, 170, 76);
}
.img{
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  background-color: black
}
.outerbottom{
  width: 100%;
  height:100%;
  justify-content: center;
  align-items: center;
}
.progressad{
  width: 100%;
  height:100%;
  background: linear-gradient(to top right, #ff9900 12%, #ffff66 100%);
}
/*
.upload{
  margin-left: 5px;
  height: 100%;
  width: 40%;
  justify-content: center;
  align-items: center;
}*/
.uploadtwo{
  height: 100%;
  width: 150;
  margin: 15px;
}
.gt{
  width: 100%;
  height: 150;
  border-radius: 10%;
}
.bottomiconbox{
  width:20%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.actuallscroll{
  width:100%;
  height:300px;
}
.outscroll{
  justify-content: flex-start;
  align-items: center;
  height:100%;
}
.titlearea{
  height: 80px;
}
.outerfilenamebox{
  width: 100%;
  height: 100%;
  margin-top: 8;
  margin-left: 8;
}
.outertimestamp{
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 50%;
}
.views{
  justify-content: flex-start;
  align-items: center;
  height: 33.3%;
  width: 100%;
}
.timestampandviews{
  color: #999999;
  font-size: 10px;
  margin: 5px;
}
.timestampandviews2{
  color: rgb(242, 170, 76 , 0.8);
  font-size: 10px;
  margin: 5px;
}
.myprivouterbox{
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 33.3%
}
.myprivouterbox2{
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 33.3%
}
.newicon{
  font-family:'Font Awesome 5 Free','fa-solid-900';
  font-size: 10px;
  color: rgb(242, 170, 76 , 0.8);
}
.filename{
  font-size: 16px;
  font-weight: bold;
  font-family: "NanumGothic","NanumGothic-Regular";
  color: #ffffff;
}


.samplepage{
  background: rgb(16, 24, 32);
  height: 10%;
}

#testmaps{
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
TabStripItem.tabstripitem {
    background-color: rgb(16, 24, 32);
    color : white;
}
TabStripItem.tabstripitem2 {
    background-color: rgb(16, 24, 32);
    color : white;
}
TabStripItem.tabstripitem:active {
    background-color: rgb(16, 24, 32);
    color : rgb(242, 170, 76);
}
.thumbnail{
  justify-content: center;
  align-items: center;
  height: 100%;
  width:20%;
}
.songinfo{
  justify-content: center;
  align-items: center;
  height: 100%;
  width:80%;
}
.innersonginfo{
  height: 100%;
  width:100%;
}
.actuallsongname{
  justify-content: flex-start;
  align-items: center;
  height: 60%;
  width:100%;
}
.actuallsongartist{
  justify-content: flex-start;
  align-items: center;
  height: 40%;
  width:100%;
}
.songicon{
  font-family:'Font Awesome 5 Free','fa-solid-900';
  font-size: 23px;
}


.songname{
  color: #ffffff;
  font-size: 12px;
  text-align: left;
  vertical-align: middle;
  width: 90%
}
.uploadhidden{
  justify-content: center;
  align-items: center;
  background: #ffffff;
  z-index: -1;
}
.outerbox{
  justify-content: center;
  align-items: center;
}
.songitem{
  justify-content: center;
  align-items: center;
  border-bottom-width: .0001;
  border-color: rgb(242, 170, 76);
  height: 150px;
  width:100%;
}
.thumbnail{
  justify-content: center;
  align-items: center;
  height: 100%;
  width:20%;
}
.songinfo{
  justify-content: center;
  align-items: center;
  height: 100%;
  width:80%;
}
.innersonginfo{
  height: 100%;
  width:100%;
}
.actuallsongname{
  justify-content: flex-start;
  align-items: center;
  height: 60%;
  width:100%;
}
.actuallsongartist{
  justify-content: flex-start;
  align-items: center;
  height: 40%;
  width:100%;
}
.songicon{
  font-family:'Font Awesome 5 Free','fa-solid-900';
  font-size: 23px;
}
.songname{
  color: #ffffff;
  font-size: 12px;
  text-align: left;
  vertical-align: middle;
  width: 90%
}
.behind{
  background: rgb(16, 24, 32);
}


.innerplayer{
  width: 100%;
  height: 50;
  background-color: rgb(16, 24, 32);
}
.innerplayname{
  width: 100%;
  height: 95%;
  justify-content: center;
  align-items: center;
}
.innerplayprogress{
  width: 100%;
  height: 5%;
  justify-content: center;
  align-items: flex-start;
  background-color: #303030;
}
.progress{
  width:0%;
  height: 100%;
  background: linear-gradient(to top right, #ff9900 12%, #ffff66 100%);
}
.insyder1{
  width: 25%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.insyder2{
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.insyder3{
  width: 25%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.trackname{
  color: rgb(242, 170, 76);
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  width: 100%
}
.icon{
  font-family:'Font Awesome 5 Free','fa-solid-900';
  font-size: 25;
  text-align: center;
  vertical-align: middle;
  width: 100%
}
.typessegment{
  width: 100%;
  height: 50;
  justify-content: center;
  align-items: center;
  border-bottom-width: .1;
  border-color: rgb(242, 170, 76);
}
.audiosegm{
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.videosegm{
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.audiobehind{
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgb(16, 24, 32);
}
.topaudioplayer{
  justify-content: center;
  align-items: center;
}
.backbtn{
  justify-content: center;
  align-items: center;
  width: 10%;
  height:100%;
}
.usernameorartist{
  justify-content: center;
  align-items: center;
  width: 80%;
  height:100%;
}
.follow{
  justify-content: center;
  align-items: center;
  width: 10%;
  height:100%;
}
.bottomhalf4{
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
}
.sliderseek{
  justify-content: center;
  align-items: center;
  width: 100%;
  height:33.3%;
}
.othericons{
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40%;
}
.audiocontrols{
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
}
.customcontrols{
  justify-content: center;
  align-items: center;
  height: 33.3%;
  width: 100%;
}
.nonaudio{
  justify-content: center;
  align-items: center;
  width: 33.3%;
  height: 100%;
}
.notxt{
  font-size: 12px;
  font-family: "NanumGothic","NanumGothic-Regular";
  color: #999999;
}
.noof{
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
}
.middle{
  justify-content: center;
  align-items: center;
  width: 100%;
}
.visuals{
  justify-content: center;
  align-items: center;
  width: 90%;
  height:70%;
}
.theactuallname{
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15%;
}
.likesandcomments{
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15%;
}
.styleforlikesandcomments{
  color: #999999;
  font-size: 15px;
}
.customicons{
  font-family:'Font Awesome 5 Free','fa-solid-900';
  font-size: 17;
}
.liked{
  font-family:'Font Awesome 5 Free','fa-solid-900';
  font-size: 17;
  color: rgb(242, 170, 76);
}
.customicons2{
  font-family:'Font Awesome 5 Free','fa-solid-900';
  font-size: 25;
}
.sliderval{
  width:100%;
  color: rgb(242, 170, 76);
  background-color: #999999;
}
#currentlyfollowing{
  color: rgb(242, 170, 76);
}
.thumbimg{
  width: 100%;
  height: auto;
}
.thumbimg2{
  width: 100%;
  height: 100%;
}
.playingacttrack{
  font-size: 16px;
  font-weight: bold;
  font-family: "NanumGothic","NanumGothic-Regular";
  color: #ffffff;
}

.blurred{
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgb(242, 170, 76);
}
.innerabsolute{
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.bottomvideo{
  width: 100%;
  justify-content: center;
  align-items: center;
}
.videobehind{
  width: 100%;
  height: 100%;
  z-index: 1;
  border-color: transparent;
}
.videocontrol{
  width:50%;
  height: 100%;
}
.blurred2{
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: black;
}

.outervidshield{
  width: 100%;
  height:95%;
  justify-content: center;
  align-items: center;
}
.innershieldvid{
  width: 30%;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.othervidinnrshield{
  width: 60%;
  justify-content: center;
  align-items: center;
}
.andothervidinnrshield{
  width: 10%;
  justify-content: center;
  align-items: center;
}
.vidprogressshield{
  width: 100%;
  height: 5%;
  justify-content: center;
  align-items: center;
  background-color: #565555;
}
.vidprogress{
  height: 100%;
  background: linear-gradient(to top right, #ff9900 12%, #ffff66 100%);
}
.moresignificant{
  height: 33.3%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.lowervideocontroller{
  height: 33.3%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.significantother{
  height: 60%;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}
.videopausingicon{
  height: 100%;
  width: 10%;
  justify-content: flex-start;
  align-items: center;
}
.videoslider{
  height: 100%;
  width: 80%;
  justify-content: flex-start;
  align-items: center;
}
.videonumprog{
  height: 100%;
  width: 10%;
  justify-content: flex-start;
  align-items: center;
}

.uploadmodal{
  width: 100%;
  height: 100%;
  background: rgb(16, 24, 32);
}
.topper{
  justify-content: center;
  align-items: center;
  width:100%;
  height:10%;
}
.nottop{
  justify-content: center;
  align-items: center;
}
.intro{
  font-size: 12;
}
.intro2{
  font-size: 12;
}
.uploading{
  font-size: 10;
}
.middle{
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
}
.bottom32{
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100%;
}
.topvideocontroller{
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 33.3%;
}
.thumbnail22{
  justify-content: center;
  align-items: center;
  border-width: .1;
  border-color: rgb(242, 170, 76);
  border-style: "dashed";
  width:400;
  height:400;
}
.metadata{
  justify-content: center;
  align-items: center;
  width:100%;
  height:15%;
}
.input{
  width: 90%;
  border-width: .1;
  border-color: rgb(242, 170, 76);
  placeholder-color: rgb(242, 170, 76);
  font-size: 15px;
  font-family: "NanumGothic","NanumGothic-Regular";
  border-radius: 5%;
  color: rgb(242, 170, 76);
}
.categorysyle{
  font-size: 18;
  font-weight: bold;
}


.searchtop{
  width: 100%;
  height: 50;
  justify-content: center;
  align-items: center;
}
.search{
  justify-content: center;
  align-items: center;
  width: 100%;
}
.search-input22{
  placeholder-color: rgb(242, 170, 76);
  font-size: 15px;
  font-family: "NanumGothic","NanumGothic-Regular";
  background-color: rgb(16, 24, 32);
  border-radius: 5%;
  color: rgb(242, 170, 76);
  width: 100%;
}
.searchhorrizontal{
  width: 100%;
  height: 50;
  justify-content: center;
  align-items: center;
  background-color: rgb(16, 24, 32);
}
.inneroneoption{
  width: 90;
  justify-content: center;
  align-items: center;
  border-radius: 30%;
  border-width: .1;
  background-color: #999999;
}
.oneoption{
  width: 33.3%;
  justify-content: center;
  align-items: center;
}



/*PROFILE PAGE*/
.topmost22{
  justify-content: center;
  align-items: center;
  width:100%;
  height:50;
}
.backbtn22{
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
}
.username22{
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
}
.settings22{
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
}
.myprofilepicinfo22{
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100;
  margin-left: 20;
  margin-top: 10;
}
.picture22{
  width: 20%;
  height: 100%;
  justify-content: flex-end;
  align-items: flex-start;
}
.more-options22{
  width: 100%;
  height: 90;
  justify-content: center;
  align-items: center;
}
.editbtn22{
  width: 90%;
  height: 50%;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  border-width: .1;
  border-color: rgb(242, 170, 76);
  background-color: rgb(16, 24, 32);
}
.muedittxtact22{
  color: rgb(242, 170, 76);
}
.innermetadata22{
  width: 80%;
  height: 100%;
}
.information22{
  width: 100%;
  height: 50;
  justify-content: center;
  align-items: center;
}
.mymetadata22{
  width: 100%;
  height: 20%;
  justify-content: center;
  align-items: center;
}

.actuallmetadata22{
  width: 80%;
  height: 100%;
  margin-left: 30;
  justify-content: flex-start;
  align-items: flex-start;
}
.noofposts22{
  width: 33.3%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.nooffollowers22{
  width: 33.3%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.innerinfometa22{
  width: 100%;
  height: 50%;
  justify-content: center;
  align-items: center;
}
.justtxt22{
  font-size: 16px;
  font-weight: bold;
  font-family: "NanumGothic","NanumGothic-Regular";
  color: #ffffff;
}
.nooffollowing22{
  width: 33.3%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.mysegmentations22{
  width: 100%;
  height: 50;
  border-bottom-width: .1;
  border-top-width: .1;
  border-color: #ff8011;
}
.everythingelse22{
  justify-content: center;
  align-items: flex-start;
}
.myprofileicons22{
  font-family:'Font Awesome 5 Free','fa-solid-900';
  font-size: 15;
  text-align: center;
  vertical-align: middle;
  width: 100%
}
.fullname222{
  font-size: 16px;
  font-weight: bold;
  font-family: "NanumGothic","NanumGothic-Regular";
  color: #ffffff;
}
.email222{
  font-size: 12px;
  font-family: "NanumGothic","NanumGothic-Regular";
  color: #999999;
  margin-top: 10;
}
.phone222{
  font-size: 12px;
  font-family: "NanumGothic","NanumGothic-Regular";
  color: #999999;
  margin-top: 10;
}
.myprofimage22{
  border-radius: 100%;
  border-width: 1;
  border-color: rgb(242, 170, 76);
  width: 100%;
  height: auto;
}
.customsegments22{
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 33.3%;
}
.usernamestyle22{
  color:rgb(242, 170, 76);
  font-size: 15;
}
.oneupload22{
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100;
  margin: 15px;
}
.onethumbnail22{
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.onepostname22{
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.onetime22{
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.gt22{
  width:100%;
  height:auto;
}
.myradview22{
  height:100%;
}

.titlearea22{
  height: 80px;
}
.timestampandviews22{
  color: #999999;
  font-size: 10px;
  margin: 5px;
}
.timestampandviews222{
  color: rgb(242, 170, 76 , 0.8);
  font-size: 10px;
  margin: 5px;
}
.newicon22{
  font-family:'Font Awesome 5 Free','fa-solid-900';
  font-size: 10px;
  color: rgb(242, 170, 76 , 0.8);
}
.myprivouterbox22{
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 33.3%
}
.myprivouterbox222{
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 33.3%
}
.myartistprivouterbox22{
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 33.3%
}
.myartistprivouterbox222{
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 33.3%
}
.myscroll22{
  height:30%;
  width:100%;
  padding: 1%;
}
.aout22{
  margin-top: 20;
}
.filename22{
  font-size: 16px;
  font-weight: bold;
  font-family: "NanumGothic","NanumGothic-Regular";
  color: #ffffff;
}
.views22{
  justify-content: flex-start;
  align-items: center;
  height: 33.3%;
  width: 100%;
}
.outerfilenamebox22{
  width: 100%;
  margin-top: 8;
  margin-left: 8;
}
.customgt222{
  width: 100%;
  height: 150;
  border-radius: 10%;
}
.customimg222{
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  background-color: black
}
.uploadtwo22{
  height: 100%;
  width: 150;
  margin: 15px;
}
.categorysyle22{
  font-size: 18;
  font-weight: bold;
}

/*OTHER PEOPLES PROFILE PICTURE*/
.topmost33{
  justify-content: center;
  align-items: center;
  width:100%;
  height:50;
}
.backbtn33{
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
}
.username33{
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
}
.settings33{
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
}
.myprofilepicinfo33{
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-left: 20;
  margin-top: 10;
}
.picture33{
  width: 20%;
  height: 100%;
  justify-content: flex-end;
  align-items: flex-start;
}
.more-options33{
  width: 100%;
  height: 90;
  justify-content: center;
  align-items: center;
}
.messagebtn33{
  width: 40%;
  height: 50%;
  margin-left: 5;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  border-width: .1;
  border-color: rgb(242, 170, 76);
  background-color: rgb(16, 24, 32);
}
.followbtn33{
  width: 90%;
  height: 50%;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  border-width: .1;
  border-color: rgb(242, 170, 76);
  background-color: rgb(16, 24, 32);
}
.muedittxtact33{
  color: rgb(242, 170, 76);
}
.innermetadata33{
  width: 80%;
  height: 100%;
}
.information33{
  width: 100%;
  height: 50;
  justify-content: center;
  align-items: center;
}
.mymetadata33{
  width: 100%;
  height: 20%;
  justify-content: center;
  align-items: center;
}

.actuallmetadata33{
  width: 80%;
  height: 100%;
  margin-left: 30;
  justify-content: flex-start;
  align-items: flex-start;
}
.noofposts33{
  width: 33.3%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.nooffollowers33{
  width: 33.3%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.innerinfometa33{
  width: 100%;
  height: 50%;
  justify-content: center;
  align-items: center;
}
.justtxt33{
  font-size: 16px;
  font-weight: bold;
  font-family: "NanumGothic","NanumGothic-Regular";
  color: #ffffff;
}
.nooffollowing33{
  width: 33.3%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.mysegmentations33{
  width: 100%;
  height: 50;
  border-bottom-width: .1;
  border-top-width: .1;
  border-color: #ff8011;
}
.everythingelse33{
  justify-content: center;
  align-items: flex-start;
}
.myprofileicons33{
  font-family:'Font Awesome 5 Free','fa-solid-900';
  font-size: 15;
  text-align: center;
  vertical-align: middle;
  width: 100%
}
.fullname333{
  font-size: 16px;
  font-weight: bold;
  font-family: "NanumGothic","NanumGothic-Regular";
  color: #ffffff;
}
.email333{
  font-size: 12px;
  font-family: "NanumGothic","NanumGothic-Regular";
  color: #999999;
  margin-top: 10;
}
.phone333{
  font-size: 12px;
  font-family: "NanumGothic","NanumGothic-Regular";
  color: #999999;
  margin-top: 10;
}
.myprofimage33{
  border-radius: 100%;
  border-width: 1;
  border-color: rgb(242, 170, 76);
  width: 100%;
  height: auto;
}
.customsegments33{
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 33.3%;
}
.usernamestyle33{
  color:rgb(242, 170, 76);
  font-size: 15;
}
.oneupload33{
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100;
  margin: 15px;
}
.onethumbnail33{
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.onepostname33{
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.onetime33{
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.gt33{
  width:100%;
  height:auto;
}
.myradview33{
  height:100%;
}

.titlearea33{
  height: 80px;
}
.timestampandviews33{
  color: #999999;
  font-size: 10px;
  margin: 5px;
}
.timestampandviews333{
  color: rgb(242, 170, 76 , 0.8);
  font-size: 10px;
  margin: 5px;
}
.newicon33{
  font-family:'Font Awesome 5 Free','fa-solid-900';
  font-size: 10px;
  color: rgb(242, 170, 76 , 0.8);
}
.myprivouterbox33{
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 33.3%
}
.myprivouterbox333{
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 33.3%
}
.myscroll33{
  height:30%;
  width:100%;
  padding: 1%;
}
.aout33{
  margin-top: 20;
}
.filename33{
  font-size: 16px;
  font-weight: bold;
  font-family: "NanumGothic","NanumGothic-Regular";
  color: #ffffff;
}
.views33{
  justify-content: flex-start;
  align-items: center;
  height: 33.3%;
  width: 100%;
}
.outerfilenamebox33{
  width: 100%;
  margin-top: 8;
  margin-left: 8;
}
.customgt333{
  width: 100%;
  height: 150;
  border-radius: 10%;
}
.customimg333{
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  background-color: black
}
.uploadtwo33{
  height: 100%;
  width: 150;
  margin: 15px;
}
.categorysyle33{
  font-size: 18;
  font-weight: bold;
}


.onenotification{
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50;
  margin-top: 10;
}
.notificationimage{
  height: 100%;
  width: 20%;
  align-items: center;
  justify-content: center;
}
.notgtimage{
  height: 100%;
  width: 100%;
}
.notificationmessage{
  height: 100%;
  width: 45%;
  align-items: center;
  justify-content: center;
}
.notificationmessage2{
  height: 100%;
  width: 60%;
  align-items: center;
  justify-content: center;
}
.actnotificationmessage{
  height: 50%;
  width: auto;
  align-items: center;
  justify-content: flex-start;
}
.notificationtimestamp{
  height: 50%;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}
.notiftext{
  font-size: 10;
}
.notiftext2{
  color: rgb(242, 170, 76 , 0.8);
  font-size: 10px;
  margin: 5px;
}
.insnotiftextbtn1{
  color: rgb(242, 170, 76);
}
.insnotiftextbtn2{
}
.notiflist{
  height: auto;
  width: 100%;
}

.notificationifuploadliked{
  width: 15%;
  height: 100%;
  align-items: center;
  justify-content: center
}
.outernotifuploadimg{
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center
}
.notifuploadliked{
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center
}
.notificationfollow{
  height: 100%;
  width: 20%;
  align-items: center;
  justify-content: center;
}
.msgingwhoimg{
  height: 100%;
  width: 100%;
}
.innerpicmsgingwhich{
  height: 100%;
  width: 100%;
}
.picmsguser{
  height: 20%;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5;
}
.down{
  height: 20%;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-left: 5;
}
.platformusers{
  height: 50;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.messagelist{
  width:100%;
}
.oneoutermessagebox{
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
}
.onerecievedmessage{
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10;
}
.oneinnerrecievedmessage{
  height: auto;
  width: auto;
  max-width: 60%;
  justify-content: center;
  align-items: center;
  background-color: #00cf2d;
  border-radius: 10%;
  padding: 10%;
}
.messagetext2{
  font-size: 18;
  color: #000000;
}
.onesentmessage{
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10;
}
.oneinnersentmessage{
  height: auto;
  width: auto;
  max-width: 60%;
  justify-content: center;
  align-items: center;
  background-color: #d7dbd8;
  border-radius: 10%;
  padding: 10%;
}
.messagetext{
  font-size: 18;
  color: #ffffff;
}
.textview{
  height: 50;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.filesend{
  height: 100%;
  width: 10%;
  justify-content: center;
  align-items: center;
}
.acttextview{
  height: 100%;
  width: 70%;
  justify-content: center;
  align-items: center;
}
.sendbtn{
  height: 100%;
  width: 20%;
  justify-content: center;
  align-items: center;
}
.message-input{
  border-width: .1;
  border-color: rgb(242, 170, 76);
  placeholder-color: rgb(242, 170, 76);
  font-size: 15px;
  font-family: "NanumGothic","NanumGothic-Regular";
  background-color: rgb(16, 24, 32);
  border-radius: 5%;
  color: rgb(242, 170, 76);
  width: 80%;
}
.actualltimestampformesg{
  width:20%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.notiftext22{
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
}
.extrainfo{
  width:80%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
}
.searchresultfile{
  width:100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
}
.outersearchresultfile{
  width: 20%;
  height: 100%;
  margin-left: 5%;
  margin-right: 2%;
  justify-content: flex-start;
  align-items: center;
}
.verticalname2{
  width: 100%;
  height: 50%;
  justify-content: flex-start;
  align-items: center;
}
.fullname-txt{
  font-size: 12;
  color: #999999;
}
.mytemplateformsg{
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.nullindicator{
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.templateusername{
  width: 60%;
  height: 100%;
  justify-content: center;
  align-items: center;
}


.mapping{
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.search{
  background-color: transparent;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border-radius: 10%;
  width: 85%;
}
.outerbox{
  justify-content: center;
  align-items: center;
  width: 100%;
}
.search-input{
  border-width: .1;
  border-color: #999999;
  placeholder-color: #999999;
  font-size: 15px;
  font-family: "NanumGothic","NanumGothic-Regular";
  background-color: #ffffff;
  border-bottom-left-radius: 10%;
  border-top-left-radius: 10%;
  color: black;
  width:80%;
}
.opt{
  width: 20%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-bottom-right-radius: 10%;
  border-top-right-radius: 10%;
  border-width: .1;
  border-color: #999999;
}
.markerowner{
  z-index: 1;
  width: 85%;
  background-color: #ffffff;
  border-radius: 10%;
  justify-content: center;
  align-items: center;
}
.outermymarker{
  width: 25%;
  justify-content: center;
  align-items: center;
  height:100%;
}
.onemarker{
  width: 100%;
  justify-content: center;
  align-items: center;
  height:33.3%;
}
.onemarkeradd{
  width: 100%;
  justify-content: center;
  align-items: center;
  height:100%;
}
.myicons{
  font-family:'Font Awesome 5 Free','fa-solid-900';
  font-size: 15;
}
.myicons2{
  font-family:'Font Awesome 5 Free','fa-solid-900';
  font-size: 20;
  color : #999999;
}
.myicons3{
  font-family:'Font Awesome 5 Free','fa-solid-900';
  font-size: 15;
  color: rgb(242, 170, 76);
}
.datetime{
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.mydatepicker{
  width: 100%;
  color: rgb(242, 170, 76);
}
.mytimepicker{
  width: 100%;
  color: rgb(242, 170, 76);
}
.chngetext{
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.chngetext2{
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20;
}
.datetext{
  color: #ffffff
}
.actdatetext{
  color: rgb(242, 170, 76);
}
.toppartofuploader{
  justify-content: flex-start;
  align-items: center;
  width:100%;
}
.description-input{
  border-width: .1;
  border-color: rgb(242, 170, 76);
  placeholder-color: rgb(242, 170, 76);
  font-size: 15px;
  font-family: "NanumGothic","NanumGothic-Regular";
  background-color: rgb(16, 24, 32);
  color: rgb(242, 170, 76);
  width: 80%;
  height: 120;
}
.name-input{
  border-width: .1;
  border-color: rgb(242, 170, 76);
  placeholder-color: rgb(242, 170, 76);
  font-size: 15px;
  font-family: "NanumGothic","NanumGothic-Regular";
  background-color: rgb(16, 24, 32);
  border-radius: 5%;
  color: rgb(242, 170, 76);
  width: 80%;
}
.finisher{
  justify-content: center;
  align-items: center;
  width: 100%;
}
.nonaudio1{
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
}
.nonaudio2{
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
}
.nonaudio3{
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
}
.notfabbutheaderuploader{
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50;
}
.down-notation{
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100%;
}
.text-notation{
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
}
.oneofimage{
  height: 100%;
  width: 100%;
}
.bodytemp{
  border-bottom-width: .1;
  border-color: #999999;
}
.bottombottom32{
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  margin-left: 10;
  margin-right: 10;
}
.bottompartrecord{
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 70%;
}
.iconerr{
  color: #ffffff;
  font-size: 150px;
  font-family:'Font Awesome 5 Free','fa-solid-900';
}
.onerecorderbtn{
  justify-content: center;
  align-items: center;
  width: 33.3%;
  height: 100%;
}
.fab-button{
  height: 50;
  width: 50;
  margin: 15;
  background-color: rgb(242, 170, 76);
  horizontal-align: right;
  vertical-align: bottom;
}
.studiotmpheader{
  height: 50;
  width: 100%;
}
