<!--TO BE REMOVED SONGS COMPONENT-->
<GridLayout class="fullpage" rows="*" columns="*">
  <GridLayout id="firsthomemade" row="0" col="0" *ngIf="showaudiobehind === false && showvideobehind === false" class="behind" rows="auto,*" columns="*">
    <!--THE HEADER IS HERE VISIBLE IN HOME PAGE-->

    <GridLayout [translateX]="widthforanime" (swipe)="animatehiddenview($event)" id="maintop0" style.marginTop="25" row="0" col="0" class="topnavigation" rows="*" columns="60,*,60"  horizontalAlignment="center" verticalAlignment="top">
      <FlexBoxLayout (tap)="mapsnav()" row="0" col="0" class="outertitleshield">
        <Label class="icons" text="&#xf57c;"></Label>
      </FlexBoxLayout>
      <FlexBoxLayout row="0" col="1" class="outertitleshield">
        <Label class="uppertext" text="InfinityRealm"></Label>
      </FlexBoxLayout>
      <FlexBoxLayout row="0" col="2" class="outertitleshieldimage">
        <NSImg (tap)="toprofilepage()" class="myimage" roundAsCircle="true" horizontalAlignment="center" strech="aspectFill" decodeWidth="400" decodeHeight="400" loadMode="async"[src]="profileimage" ></NSImg>
      </FlexBoxLayout>
    </GridLayout>

    <!--THE search BAR VISIBLE IN THE SEARCH PAGE-->
    <FlexBoxLayout [translateX]="widthforanime" (swipe)="animatehiddenview($event)" id="maintop2" style.marginTop="25" class="searchtop" row="0" col="0">
      <FlexBoxLayout class="search">
            <TextField  [(ngModel)]="query"
                        returnKeyType="done"
                        keyboardType="email"
                        autocorrect="false"
                        (textChange) = "searchrequest()"
                        class="search-input22"
                        hint="enter username songname..."
                         ></TextField>
      </FlexBoxLayout>
    </FlexBoxLayout>

    <!--THE NOTIFICATIONS BAR VISIBLE IN THE NOTIFICATIONS PAGE-->
    <FlexBoxLayout [translateX]="widthforanime" (swipe)="animatehiddenview($event)" id="maintop2" style.marginTop="25" class="notificationstop" row="0" col="0">


    </FlexBoxLayout>

    <StackLayout (swipe)="animateview($event)" id="prevouslyhidden" style.marginTop="25" row="0" col="0" class="innerplayer" orientation="vertical">
        <FlexBoxLayout class="innerplayname">
          <!--songname-->
          <FlexBoxLayout  *ngIf="myiconsfilter === true" (tap)="reportingfunc({'postid':currentdata,'type':'copyright'})" class="insyder1">
            <Label class="icon" text="&#xf1f9;"></Label>
          </FlexBoxLayout>
          <FlexBoxLayout *ngIf="myiconsfilter === false" (tap)="showuploadfunc({'data' : imcurrentlylisteningto.data , 'name': imcurrentlylisteningto.name , 'type': imcurrentlylisteningto.type})" class="insyder1">
            <Label class="icon" text="&#xf574;"></Label>
          </FlexBoxLayout>

          <FlexBoxLayout (tap)="showtheplayer()" class="insyder2">
            <Label class="trackname" [text]="track"></Label>
          </FlexBoxLayout>

          <FlexBoxLayout class="insyder3">
            <Label id="test1" *ngIf="playing === false" (tap)="play()" class="icon" text="&#xf144;"></Label>
            <Label id="test2" *ngIf="playing === true" (tap)="play()" class="icon" text="&#xf28b;"></Label>
          </FlexBoxLayout>

        </FlexBoxLayout>
        <FlexBoxLayout class="innerplayprogress">
            <!--this is the progress-->
            <FlexBoxLayout id="myprogress" [style.width.%]="mynewwidth" class="progress">
            </FlexBoxLayout>
        </FlexBoxLayout>
    </StackLayout>

    <StackLayout id="videohidden" style.marginTop="30" [translateX]="widthforanime" (swipe)="animateview($event)" class="innerplayer" orientation="vertical" row="0" col="0">
        <FlexBoxLayout class="outervidshield">
          <FlexBoxLayout (tap)="showvideoplayer()" id="topsmallvideo" class="innershieldvid">
            <VideoPlayer
                  [src]="videosrc"
                  observeCurrentTime="true"
                  autoplay="true"
                  height="150"
                  width="100%"
                  fill="false"
                  id="myvideo"
                  [muted]="muted"
                  controls="false"></VideoPlayer>
          </FlexBoxLayout>
          <FlexBoxLayout  (tap)="showvideoplayer()" class="othervidinnrshield">
            <Label class="trackname" [text]="track"></Label>
          </FlexBoxLayout>
          <FlexBoxLayout class="andothervidinnrshield">
            <Label class="icon" (tap)="togglevidplay()" *ngIf="playvid === false" text="&#xf144;"></Label>
            <Label class="icon" (tap)="togglevidplay()" *ngIf="playvid === true" text="&#xf28b;"></Label>
          </FlexBoxLayout>
        </FlexBoxLayout>
        <FlexBoxLayout class="vidprogressshield">
          <FlexBoxLayout [style.width.%]="newvidwidth" class="vidprogress">
          </FlexBoxLayout>
        </FlexBoxLayout>
    </StackLayout>

    <BottomNavigation  (selectedIndexChanged)="indexchnged($event)" style.marginBottom="43" row="2" col="0">
      <TabStrip>
        <TabStripItem class="tabstripitem">
            <Label class="bbottomtext" text="Home"></Label>
            <Image src="font://&#xf015;" class="icons"></Image>
        </TabStripItem>
        <TabStripItem class="tabstripitem">
            <Label class="bbottomtext" text="Alerts"></Label>
            <Image src="font://&#xf0f3;" class="icons"></Image>
        </TabStripItem>
        <TabStripItem class="tabstripitem">
            <Label class="bbottomtext" text="Search"></Label>
            <Image src="font://&#xf002;" class="icons"></Image>
        </TabStripItem>
        <TabStripItem class="tabstripitem">
            <Label class="bbottomtext" text="Live"></Label>
            <Image src="font://&#xf26c;" class="icons"></Image>
        </TabStripItem>
        <TabStripItem class="tabstripitem">
            <Label class="bbottomtext" text="Library"></Label>
            <Image src="font://&#xf025;" class="icons"></Image>
        </TabStripItem>
    </TabStrip>

    <TabContentItem>
      <GridLayout rows="*" columns="*">
        <RadListView  *ngIf="error === false && nointernet === false" [items]="categories" [itemTemplateSelector]="templateSelector" row="0" col="0" loadOnDemandMode="Auto" (loadMoreDataRequested)="onLoadMoreItemsRequested($event)" scrollDirection="Vertical"  pullToRefresh="true" (pullToRefreshInitiated)="onRefresh($event)">
          <ListViewLinearLayout tkListViewLayout scrollDirection="Vertical" itemInsertAnimation="Default" itemDeleteAnimation="Default"></ListViewLinearLayout>
              <ng-template tkTemplateKey="online" tkListItemTemplate let-item="item">
                  <!--  <StackLayout height="180" style.marginTop = "20" orientation="vertical">
                        <GridLayout class="titlearea" rows="*" columns="10,*">
                          <Label col="1" class="categorysyle" [text]="item.category"></Label>
                        </GridLayout>
                        <ScrollView orientation="horizontal">
                          <StackLayout class="list-group-item" orientation="horizontal"
                                                   height="150">
                          <ng-container scrollDirection="horizontal" orientation="vertical" *ngFor="let infinite of item.uploads">
                              <GridLayout  style.margin = "5" width="150" height="300" rows="*,30,30,30" columns="*">
                                <NSImg col="0" row="0" (tap)="playurl({'category': item.category , 'uploader':infinite.uploader , 'data': readthat+infinite._id , 'name':infinite.display , 'type':infinite.mimetype , 'from':'internet' , 'idr':infinite._id})" class="gt"  fadeDuration="2000" placeholderImageUri="font://&#xf03e;" failureImageUri="font://&#xf03e;"  strech="aspectFill" decodeWidth="400" decodeHeight="400" loadMode="async" [src]="cover+infinite._id"></NSImg>
                                <Label style.marginTop = "3" class="filename" col="0" row="1" [text]="infinite.display"></Label>
                                <Label style.marginTop = "3" class="timestampandviews" col="0" row="2" text="3hrs ago"></Label>
                                <FlexBoxLayout col="0" row="3" class="outerbottom">
                                  <Label *ngIf="infinite.mimetype === 'audio/mp3' || infinite.mimetype === 'audio/ogg' || infinite.mimetype === 'audio/wav' || infinite.mimetype === 'audio/aac'" class="newicon" text="&#xf58f; "></Label>
                                  <Label *ngIf="infinite.mimetype === 'video/avi' || infinite.mimetype === 'video/flv' || infinite.mimetype === 'video/mp4' || infinite.mimetype === 'video/mov' || infinite.mimetype === 'video/wmv' || infinite.mimetype === 'video/webm' || infinite.mimetype === 'video/webvtt' || infinite.mimetype === 'video/ogt'" class="newicon" text="&#xf06e; "></Label>
                                  <Label  class="timestampandviews2" text="22120"></Label>
                                </FlexBoxLayout>
                              </GridLayout>
                            </ng-container>
                          </StackLayout>
                        </ScrollView>
                      </StackLayout> -->
                      <StackLayout class="aout22">
                        <GridLayout rows="*" columns="10,*" class="topcategory22">
                            <Label col="1" row="0" class="categorysyle22" [text]="item.category"></Label>
                        </GridLayout>
                        <ScrollView class="myscroll22" orientation="horizontal">
                          <FlexBoxLayout class="outscroll22">

                            <GridLayout class="uploadtwo22" rows="*,auto" columns="*" *ngFor="let infinite of item.uploads">
                                <FlexBoxLayout col="0" row="0" class="customimg222" (tap)="playurl({'category': item.category , 'uploader':infinite.uploader , 'uploader2':infinite.uploader2 , 'data': readthat+infinite._id , 'name':infinite.display , 'type':infinite.mimetype , 'from':'internet' , 'idr':infinite._id})" >
                                  <NSImg class="customgt222" strech="aspectFill" decodeWidth="400" decodeHeight="400" loadMode="async" [src]="readthumbnail+infinite._id"></NSImg>
                                </FlexBoxLayout>
                                <StackLayout class="outerfilenamebox22" col="0" row="1" orientation="vertical">
                                  <FlexBoxLayout class="myprivouterbox22">
                                      <Label class="filename22" [text]="infinite.display"></Label>
                                  </FlexBoxLayout>
                                  <FlexBoxLayout class="myprivouterbox222">
                                      <Label class="timestampandviews22" [text]="infinite.timestamp | timestr"></Label>
                                  </FlexBoxLayout>
                                  <FlexBoxLayout class="views22">
                                    <Label *ngIf="infinite.mimetype === 'audio/mp3' || infinite.mimetype === 'audio/ogg' || infinite.mimetype === 'audio/wav' || infinite.mimetype === 'audio/aac'" class="newicon22" text="&#xf58f; "></Label>
                                    <Label *ngIf="infinite.mimetype === 'video/avi' || infinite.mimetype === 'video/flv' || infinite.mimetype === 'video/mp4' || infinite.mimetype === 'video/mov' || infinite.mimetype === 'video/wmv' || infinite.mimetype === 'video/webm' || infinite.mimetype === 'video/webvtt' || infinite.mimetype === 'video/ogt'" class="newicon22" text="&#xf06e; "></Label>
                                    <Label class="timestampandviews222" [text]="infinite.views"></Label>
                                  </FlexBoxLayout>
                                </StackLayout>
                            </GridLayout>

                          </FlexBoxLayout>
                        </ScrollView>

                      </StackLayout>
              </ng-template>
              <ng-template tkTemplateKey="stacked" tkListItemTemplate let-item="item">
                <StackLayout class="aout22">
                  <GridLayout rows="*" columns="10,*" class="topcategory22">
                      <Label col="1" row="0" class="categorysyle22" [text]="item.category"></Label>
                  </GridLayout>
                  <ScrollView class="myscroll22" orientation="horizontal">
                    <FlexBoxLayout class="outscroll22">

                      <GridLayout class="uploadtwo22" rows="*,auto" columns="*" *ngFor="let infinite of item.uploads">
                          <FlexBoxLayout col="0" row="0" class="customimg222" (tap)="playurl({'category': item.category , 'uploader':infinite.uploader , 'uploader2':infinite.uploader2 ,'data': readthat+infinite._id , 'name':infinite.display , 'type':infinite.mimetype , 'from':'internet' , 'idr':infinite._id})" >
                            <NSImg class="customgt222" strech="aspectFill" decodeWidth="400" decodeHeight="400" loadMode="async" [src]="readthumbnail+infinite._id"></NSImg>
                          </FlexBoxLayout>
                          <StackLayout class="outerfilenamebox22" col="0" row="1" orientation="vertical">
                            <!--<FlexBoxLayout class="myprivouterbox22">
                                <Label class="filename22" [text]="infinite.display"></Label>
                            </FlexBoxLayout>
                            <FlexBoxLayout class="myprivouterbox222">
                                <Label class="timestampandviews22" [text]="infinite.timestamp | timestr"></Label>
                            </FlexBoxLayout>
                            <FlexBoxLayout class="views22">
                              <Label *ngIf="infinite.mimetype === 'audio/mp3' || infinite.mimetype === 'audio/ogg' || infinite.mimetype === 'audio/wav' || infinite.mimetype === 'audio/aac'" class="newicon22" text="&#xf58f; "></Label>
                              <Label *ngIf="infinite.mimetype === 'video/avi' || infinite.mimetype === 'video/flv' || infinite.mimetype === 'video/mp4' || infinite.mimetype === 'video/mov' || infinite.mimetype === 'video/wmv' || infinite.mimetype === 'video/webm' || infinite.mimetype === 'video/webvtt' || infinite.mimetype === 'video/ogt'" class="newicon22" text="&#xf06e; "></Label>
                              <Label class="timestampandviews222" [text]="infinite.views"></Label>
                            </FlexBoxLayout>-->
                          </StackLayout>
                      </GridLayout>

                    </FlexBoxLayout>
                  </ScrollView>

                </StackLayout>
              </ng-template>
              <ng-template tkTemplateKey="artists" tkListItemTemplate let-item="item">
                <StackLayout class="aout22">
                  <GridLayout rows="*" columns="10,*" class="topcategory22">
                      <Label col="1" row="0" class="categorysyle22" [text]="item.category"></Label>
                  </GridLayout>
                  <ScrollView class="myscroll22" orientation="horizontal">
                    <FlexBoxLayout class="outscroll22">

                      <GridLayout class="uploadtwo22" rows="*,auto" columns="*" *ngFor="let infinite of item.uploads">
                          <FlexBoxLayout col="0" row="0" id="artistspiccont" class="customimg222" (tap)="gotouserprofile(infinite._id)" >
                            <NSImg class="customgt222" roundAsCircle="true" strech="aspectFill" decodeWidth="400" decodeHeight="400" loadMode="async" [src]="otherprofilepicture+infinite._id"></NSImg>
                          </FlexBoxLayout>
                          <StackLayout class="outerfilenamebox22" col="0" row="1" orientation="vertical">
                            <FlexBoxLayout class="myartistprivouterbox22">
                                <Label class="filename22" [text]="infinite.userName"></Label>
                            </FlexBoxLayout>
                            <FlexBoxLayout class="myartistprivouterbox222">
                                <Label class="timestampandviews22" [text]="infinite.fullName"></Label>
                            </FlexBoxLayout>
                            <!--<FlexBoxLayout class="views22">
                              <Label *ngIf="infinite.mimetype === 'audio/mp3' || infinite.mimetype === 'audio/ogg' || infinite.mimetype === 'audio/wav' || infinite.mimetype === 'audio/aac'" class="newicon22" text="&#xf58f; "></Label>
                              <Label *ngIf="infinite.mimetype === 'video/avi' || infinite.mimetype === 'video/flv' || infinite.mimetype === 'video/mp4' || infinite.mimetype === 'video/mov' || infinite.mimetype === 'video/wmv' || infinite.mimetype === 'video/webm' || infinite.mimetype === 'video/webvtt' || infinite.mimetype === 'video/ogt'" class="newicon22" text="&#xf06e; "></Label>
                              <Label class="timestampandviews222" [text]="infinite.views"></Label>
                            </FlexBoxLayout>-->
                          </StackLayout>
                      </GridLayout>

                    </FlexBoxLayout>
                  </ScrollView>

                </StackLayout>
              </ng-template>
        </RadListView>
          <!--ERROR COMPONENT-->
          <ns-error *ngIf="error === true"></ns-error>
          <ns-internet *ngIf="nointernet === true"></ns-internet>
      </GridLayout>
    </TabContentItem>

    <TabContentItem>
      <GridLayout rows="*" columns="*" class="fullpage">
        <!--<ns-notifications *ngIf="error === false && nointernet === false"></ns-notifications>-->
        <RadListView row="0" col="0" *ngIf="error === false && nointernet === false" [items]="notifications" pullToRefresh="true" loadOnDemandMode="auto" (scrolledEvent)="event($event)" (pullToRefreshInitiated)="notificationreload($event)">
          <!--BODY-->
          <ng-template tkListItemTemplate let-item="item">
            <FlexBoxLayout class="onenotification">
                <FlexBoxLayout (tap)="gotouserprofile(item.senderid)" class="notificationimage">
                  <NSImg class="notgtimage" roundAsCircle="true" horizontalAlignment="center" strech="aspectFill" decodeWidth="400" decodeHeight="400" loadMode="async" [src]="otherprofilepicture + item.senderid"></NSImg>
                </FlexBoxLayout>
                <FlexBoxLayout class="notificationmessage">
                  <StackLayout orientation="vertical">
                    <FlexBoxLayout class="actnotificationmessage">
                      <Label *ngIf="item.notificationtype === 'like' || item.notificationtype === 'save'" textWrap="true" class="notiftext" [text]="item.notificationmessage"></Label>
                      <Label *ngIf="item.notificationtype === 'follow'" textWrap="true" class="notiftext" [text]="item.notificationmessage"></Label>
                    </FlexBoxLayout>
                    <FlexBoxLayout class="notificationtimestamp">
                      <Label class="notiftext2" [text]="item.timestamp | timestr"></Label>
                    </FlexBoxLayout>
                  </StackLayout>
                </FlexBoxLayout>
                <FlexBoxLayout class="notificationifuploadliked">
                    <FlexBoxLayout *ngIf="item.notificationtype === 'like' || item.notificationtype === 'save'" class="outernotifuploadimg">
                      <NSImg class="notifuploadliked" roundAsCircle="false" horizontalAlignment="center" strech="aspectFill" decodeWidth="400" decodeHeight="400" loadMode="async" [src]="readthumbnail + item.uploadid"></NSImg>
                    </FlexBoxLayout>
                </FlexBoxLayout>
                <FlexBoxLayout class="notificationfollow">
                    <Label (tap)="noneuploadunfollow(item.senderid)" *ngIf="item.doifollowsender === true" class="customicons" id="currentlyfollowing" text="&#xf4fc;"></Label>
                    <Label (tap)="noneuploadfollow(item.senderid)" *ngIf="item.doifollowsender === false" class="customicons" text="&#xf234;"></Label>
                </FlexBoxLayout>
            </FlexBoxLayout>
          </ng-template>
        </RadListView>
        <!--ERROR COMPONENT-->
        <ns-error *ngIf="error === true"></ns-error>
        <ns-internet *ngIf="nointernet === true"></ns-internet>
      </GridLayout>
    </TabContentItem>

    <TabContentItem>
            <Tabs *ngIf="error === false && nointernet === false" class="fullpage" selectedIndex="0">
              <TabStrip highlightColor="rgb(242, 170, 76)">
                <TabStripItem class="tabstripitem2">
                  <Label class="bbottomtext" text="Accounts"></Label>
                </TabStripItem>
                <TabStripItem class="tabstripitem2">
                  <Label class="bbottomtext" text="Videos"></Label>
                </TabStripItem>
                <TabStripItem class="tabstripitem2">
                  <Label class="bbottomtext" text="Audio"></Label>
                </TabStripItem>
              </TabStrip>
              <TabContentItem>
                <GridLayout *ngIf="resultfilter === 'accounts' || resultfilteroff === false" class="fullpage" rows="*" columns="*">
                  <!--ACCOUNTS-->
                  <RadListView row="0" col="0" loadOnDemandMode="auto" [items]="resultaccounts">
                    <ng-template tkListItemTemplate let-item="item">
                      <FlexBoxLayout class="onenotification">
                        <FlexBoxLayout (tap)="gotouserprofile(item._id)" class="notificationimage">
                          <NSImg class="notgtimage" roundAsCircle="true" horizontalAlignment="center" strech="aspectFill" decodeWidth="400" decodeHeight="400" loadMode="async" [src]="otherprofilepicture + item._id"></NSImg>
                        </FlexBoxLayout>
                        <FlexBoxLayout class="extrainfo">
                          <StackLayout orientation="vertical">
                              <FlexBoxLayout class="verticalname2">
                                <Label [text]="item.userName"></Label>
                              </FlexBoxLayout>
                              <FlexBoxLayout class="verticalname2">
                                <Label class="fullname-txt" [text]="item.fullName"></Label>
                              </FlexBoxLayout>
                          </StackLayout>
                        </FlexBoxLayout>
                      </FlexBoxLayout>
                    </ng-template>
                  </RadListView>
                </GridLayout>
              </TabContentItem>

              <TabContentItem>
                <GridLayout *ngIf="resultfilter === 'videos' || resultfilteroff === false" class="fullpage" rows="*" columns="*">
                  <RadListView row="0" col="0" loadOnDemandMode="auto" [items]="resultvideos">
                    <ng-template tkListItemTemplate let-item="item">
                      <FlexBoxLayout class="onenotification">
                        <FlexBoxLayout (tap)="playurl({'uploader2':item.uploader2 , 'uploader':item.uploader , 'data': readthat+item._id , 'name':item.display , 'type':item.mimetype , 'from':'internet' , 'idr':item._id})" class="outersearchresultfile">
                          <NSImg class="searchresultfile" roundAsCircle="false" horizontalAlignment="center" strech="aspectFill" decodeWidth="400" decodeHeight="400" loadMode="async" [src]="readthumbnail + item._id"></NSImg>
                        </FlexBoxLayout>
                        <FlexBoxLayout class="extrainfo">
                          <StackLayout orientation="vertical">
                              <FlexBoxLayout class="verticalname2">
                                <Label [text]="item.display"></Label>
                              </FlexBoxLayout>
                              <FlexBoxLayout class="verticalname2">
                                <Label class="fullname-txt" [text]="item.timestamp | timestr"></Label>
                              </FlexBoxLayout>
                          </StackLayout>
                        </FlexBoxLayout>
                      </FlexBoxLayout>
                    </ng-template>
                  </RadListView>
                </GridLayout>
              </TabContentItem>

              <TabContentItem>
                <GridLayout *ngIf="resultfilter === 'audio' || resultfilteroff === false"  class="fullpage" rows="*" columns="*">
                  <!--AUDIO-->
                  <RadListView row="0" col="0" loadOnDemandMode="auto" [items]="resultaudio">
                    <ng-template tkListItemTemplate let-item="item">
                      <FlexBoxLayout class="onenotification">
                        <FlexBoxLayout (tap)="playurl({'uploader2':item.uploader2 , 'uploader':item.uploader , 'data': readthat+item._id , 'name':item.display , 'type':item.mimetype , 'from':'internet' , 'idr':item._id})" class="outersearchresultfile">
                          <NSImg class="searchresultfile" roundAsCircle="false" horizontalAlignment="center" strech="aspectFill" decodeWidth="400" decodeHeight="400" loadMode="async" [src]="readthumbnail + item._id"></NSImg>
                        </FlexBoxLayout>
                        <FlexBoxLayout class="extrainfo">
                          <StackLayout orientation="vertical">
                              <FlexBoxLayout class="verticalname2">
                                <Label [text]="item.display"></Label>
                              </FlexBoxLayout>
                              <FlexBoxLayout class="verticalname2">
                                <Label class="fullname-txt" [text]="item.timestamp | timestr"></Label>
                              </FlexBoxLayout>
                          </StackLayout>
                        </FlexBoxLayout>
                      </FlexBoxLayout>
                    </ng-template>
                  </RadListView>
                </GridLayout>
              </TabContentItem>

            </Tabs>
          <!--ERROR COMPONENT-->
          <ns-error *ngIf="error === true"></ns-error>
          <ns-internet *ngIf="nointernet === true"></ns-internet>
    </TabContentItem>

    <TabContentItem>
      <StackLayout  class="fullpage">
        <Label *ngIf="error === false && nointernet === false" text="Coming Soon"></Label>
        <!--ERROR COMPONENT-->
        <ns-error *ngIf="error === true"></ns-error>
        <ns-internet *ngIf="nointernet === true"></ns-internet>
      </StackLayout>
    </TabContentItem>

    <TabContentItem>
      <Tabs class="fullpage" selectedIndex="0">
        <TabStrip highlightColor="rgb(242, 170, 76)">
          <TabStripItem class="tabstripitem2">
            <Label class="bbottomtext" text="Audio"></Label>
          </TabStripItem>
          <TabStripItem class="tabstripitem2">
            <Label class="bbottomtext" text="Videos"></Label>
          </TabStripItem>
        </TabStrip>
        <TabContentItem>
          <!--AUDIO PART-->
          <GridLayout row="auto,*" col="*">
          <RadListView row="0" col="0" [items]="songs" pullToRefresh="true" loadOnDemandMode="auto" (scrolledEvent)="event($event)" (pullToRefreshInitiated)="songreload($event)">
            <!--BODY-->
            <ng-template tkListItemTemplate let-item="item">
              <FlexBoxLayout (longpress)="showuploadfunc({'data' : item.songdata , 'name': item.songname , 'type':'audio/mp3'})" [id]=item.songdata (tap)="playaudio({'uploader2': 'uploader2' , 'uploader': 'uploader', 'data' : item.songdata , 'name': item.songname , 'type':'audio/mp3' , 'from':'library' , 'idr':'library'})" class="songitem">
                  <FlexBoxLayout class="thumbnail">
                    <!--image-->
                    <Label class="songicon" text="&#xf001;"></Label>
                  </FlexBoxLayout>
                  <FlexBoxLayout class="songinfo">
                      <StackLayout class="innersonginfo" orientation="vertical">
                        <FlexBoxLayout class="actuallsongname">
                          <!--song name-->
                          <Label class="songname" [text]=item.songname></Label>
                        </FlexBoxLayout>
                        <FlexBoxLayout class="actuallsongartist">
                          <!--artist-->
                          <Label class="songname" [text]=item.songartist></Label>
                        </FlexBoxLayout>
                      </StackLayout>
                  </FlexBoxLayout>
              </FlexBoxLayout>
            </ng-template>
          </RadListView>
          <FAB row="1" col="0" icon="~/images/font-awesome_4-7-0_music_256_0_f5faff_none (1).png" (tap)="studiolaunch()" rippleColor="#f1f1f1" class="fab-button"></FAB>
          </GridLayout>
        </TabContentItem>
        <TabContentItem>
          <!--VIDEO PART-->
          <GridLayout row="auto,*" col="*">
          <RadListView row="0" col="0" [items]="videos" pullToRefresh="true" loadOnDemandMode="auto" (scrolledEvent)="event($event)" (pullToRefreshInitiated)="songreload($event)">
            <!--BODY-->
            <ng-template tkListItemTemplate let-item="item">
              <FlexBoxLayout (longpress)="showuploadfunc({'data' : item.videodata , 'name': item.videoname , 'type':'video/mp4'})" (tap)="playaudio({'uploader2': 'uploader2' , 'uploader':'uploader' , 'data' : item.videodata , 'name': item.videoname , 'type':'video/mp4' , 'from':'library' , 'idr':'library'})" class="songitem">
                  <FlexBoxLayout class="thumbnail">
                    <!--image-->
                    <Label class="songicon" text="&#xf008;"></Label>
                  </FlexBoxLayout>
                  <FlexBoxLayout class="songinfo">
                      <StackLayout class="innersonginfo" orientation="vertical">
                        <FlexBoxLayout class="actuallsongname">
                          <!--song name-->
                          <Label class="songname" [text]=item.videoname></Label>
                        </FlexBoxLayout>
                      </StackLayout>
                  </FlexBoxLayout>
              </FlexBoxLayout>
            </ng-template>
          </RadListView>
          <FAB row="1" col="0" (tap)="recorderlaunch()" icon="~/images/ionicons_2-0-1_ios-videocam_256_0_f5faff_none.png" rippleColor="#f1f1f1" class="fab-button"></FAB>
        </GridLayout>
      </TabContentItem>
      </Tabs>
    </TabContentItem>

    </BottomNavigation>
  </GridLayout>

  <!--THE AD-->
  <StackLayout [translateX]="widthforanime" (tap)="adphase(adinit)" verticalAlignment="top" (swipe)="animatehiddenview($event)" id="advert" style.marginTop="25" row="0" col="0" class="innerplayer" orientation="vertical">
      <FlexBoxLayout class="innerplayname">
        <FlexBoxLayout class="insyder1">
          <Label class="icon" text="&#xf641;"></Label>
        </FlexBoxLayout>
        <FlexBoxLayout class="ofhiidenchoicead2">
          <Label class="trackname" text="Tap to watch Ad and score points. "></Label>
        </FlexBoxLayout>
      </FlexBoxLayout>
      <FlexBoxLayout class="innerplayprogress">
          <FlexBoxLayout class="progressad">
          </FlexBoxLayout>
      </FlexBoxLayout>
  </StackLayout>



  <!--THE AUDIO PLAYER-->
  <GridLayout   row="0" col="0" (swipe)="animate($event)" [translateX]="widthforanime" id="animateaudio" class="audiobehind" rows="60,*,auto" columns="*">
    <FlexBoxLayout style.marginTop="25" class="topaudioplayer" row="0" col="0">
      <FlexBoxLayout (tap)="close()" class="backbtn">
          <Label class="customicons" text="&#xf054;"></Label>
      </FlexBoxLayout>
      <FlexBoxLayout class="usernameorartist">
          <Label (tap)="gotouserprofile(mycurrentsrc)" [text]="artistwhosangthis" ></Label>
      </FlexBoxLayout>
      <FlexBoxLayout (tap)="followfunction()" *ngIf="myiconsfilter === true && notme === true && doifollow === false" class="follow">
        <Label class="customicons" text="&#xf234;"></Label>
      </FlexBoxLayout>
      <FlexBoxLayout (tap)="unfollowfunction()" *ngIf="myiconsfilter === true && notme === true && doifollow === true" class="follow">
        <Label class="customicons" id="currentlyfollowing" text="&#xf4fc;"></Label>
      </FlexBoxLayout>
    </FlexBoxLayout>
    <FlexBoxLayout class="middle" row="1" col="0">
        <!--thumbnail if any song name -->
        <StackLayout orientation="vertical">
            <FlexBoxLayout class="visuals">
                <!--the thumbnail-->
                <Image horizontalAlignment="center" strech="aspectFill" decodeWidth="400" decodeHeight="400" class="thumbimg" [src]="thumbsrc" loadMode="async"></Image>
            </FlexBoxLayout>
            <FlexBoxLayout class="theactuallname">
                 <Label class="playingacttrack" [text]="track"></Label>
            </FlexBoxLayout>
            <FlexBoxLayout class="likesandcomments" *ngIf="myiconsfilter === true">
                 <Label class="styleforlikesandcomments" [text]="postlikes + ' likes| ' + saves + ' saves'"></Label>
            </FlexBoxLayout>
        </StackLayout>
    </FlexBoxLayout>
    <FlexBoxLayout style.marginBottom="48" class="bottomhalf4" row="2" col="0">
      <StackLayout orientation="vertical">
        <FlexBoxLayout class="othericons">
          <FlexBoxLayout *ngIf="myiconsfilter === true && notme === false" class="nonaudio">
            <!--RESHARE CONTROLS-->
             <Label  id="oneidforicon2" class="customicons" text="&#xf079;"></Label>
          </FlexBoxLayout>
          <FlexBoxLayout (tap)="savefunction()" *ngIf="myiconsfilter === true && notme === true && didisave === false" class="nonaudio">
            <!--SAVE CONTROLS-->
            <Label id="oneidforicon2" class="customicons" text="&#xf02e;"></Label>
          </FlexBoxLayout>
          <FlexBoxLayout (tap)="unsavefunction()" *ngIf="myiconsfilter === true && notme === true && didisave === true" class="nonaudio">
            <!--UNSAVE CONTROLS-->
            <Label id="oneidforicon2" class="liked" text="&#xf02e;"></Label>
          </FlexBoxLayout>
          <FlexBoxLayout class="audiocontrols">
            <!--PREVIOUS CONTROLS-->
            <Label (tap)="previous()" class="customicons2" text="&#xf04a;"></Label>
          </FlexBoxLayout>
          <FlexBoxLayout class="audiocontrols">
            <!--PLAY PAUSE CONTROLS-->
            <Label *ngIf="playing === false" (tap)="play()" class="customicons2" text="&#xf04b;"></Label>
            <Label *ngIf="playing === true" (tap)="play()" class="customicons2" text="&#xf04c;"></Label>
          </FlexBoxLayout>
          <FlexBoxLayout class="audiocontrols">
            <!--NEXT CONTROLS-->
            <Label (tap)="next()" class="customicons2" text="&#xf04e;"></Label>
          </FlexBoxLayout>
          <FlexBoxLayout (tap)="likefunction()" *ngIf="myiconsfilter === true && doilike === false" class="nonaudio">
            <!--LIKE CONTROLS-->
            <Label  id="oneidforicon1" class="customicons" text="&#xf004;"></Label>
          </FlexBoxLayout>
          <FlexBoxLayout (tap)="unlike()" *ngIf="myiconsfilter === true && doilike === true" class="nonaudio">
            <!--UNLIKE CONTROLS-->
            <Label id="oneidforicon1" class="liked" text="&#xf004;"></Label>
          </FlexBoxLayout>
        </FlexBoxLayout>
        <FlexBoxLayout class="sliderseek">
          <Slider class="sliderval" minValue="0" maxValue="100" [(ngModel)]="sliderValue1"></Slider>
        </FlexBoxLayout>
        <FlexBoxLayout class="customcontrols">
           <Label *ngIf="myiconsfilter === true && notme === false" id="oneidforicon2" class="customicons" text="&#xf2ed;"></Label>
           <Label *ngIf="myiconsfilter === true && notme === true" id="oneidforicon2" class="customicons" text="&#xf067;"></Label>
        </FlexBoxLayout>
      </StackLayout>
    </FlexBoxLayout>
  </GridLayout>




  <!--THE VIDEO PLAYER-->
  <GridLayout id="therealvideoplayer" (swipe)="closethroughgesture($event)" row="0" col="0" [translateX]="-widthforanime" class="videobehind" rows="60,*,150" columns="*">
    <FlexBoxLayout (tap)="showctrls()" row="0" col="0" rowSpan="3" width="100%" height="100%" class="blurred2">
      <FlexBoxLayout class="innerabsolute">
        <VideoPlayer
              [src]="videosrc"
              autoplay="true"
              height="100%"
              id="myvideo2"
              [muted]="mutedtwo"
              controls="false"></VideoPlayer>
      </FlexBoxLayout>
    </FlexBoxLayout>
    <FlexBoxLayout *ngIf="ctrlsshow === true" class="topaudioplayer" row="0" col="0">
      <FlexBoxLayout (tap)="closevideoplayer()" class="backbtn">
          <Label class="customicons" text="&#xf053;"></Label>
      </FlexBoxLayout>
      <FlexBoxLayout class="usernameorartist">
          <Label [text]="track" ></Label>
      </FlexBoxLayout>
      <FlexBoxLayout (tap)="followfunction()" *ngIf="myiconsfilter === true && notme === true && doifollow === false" class="follow">
        <Label class="customicons" text="&#xf234;"></Label>
      </FlexBoxLayout>
      <FlexBoxLayout (tap)="unfollowfunction()" *ngIf="myiconsfilter === true && notme === true && doifollow === true" class="follow">
        <Label class="customicons" id="currentlyfollowing" text="&#xf4fc;"></Label>
      </FlexBoxLayout>
    </FlexBoxLayout>

    <FlexBoxLayout (tap)="adjust()" class="middle" row="1" col="0">

    </FlexBoxLayout>

    <FlexBoxLayout *ngIf="ctrlsshow === true" class="bottomvideo" row="2" col="0">
      <StackLayout orientation="vertical">
          <FlexBoxLayout class="topvideocontroller">
            <FlexBoxLayout (tap)="savefunction()" *ngIf="myiconsfilter === true && notme === true" class="nonaudio">
               <Label *ngIf="didisave === false" (tap)="savefunction()" id="oneidforicon2" class="customicons" text="&#xf02e;"></Label>
               <Label *ngIf="didisave === true" (tap)="unsavefunction()" id="oneidforicon2" class="liked" text="&#xf02e;"></Label>
            </FlexBoxLayout>
            <FlexBoxLayout class="audiocontrols">
              <Label (tap)="previous()" class="customicons2" text="&#xf04a;"></Label>
            </FlexBoxLayout>
            <FlexBoxLayout class="audiocontrols">
              <Label class="icon" (tap)="togglevidplay()" *ngIf="playvid === true" text="&#xf28b;"></Label>
              <Label class="icon" (tap)="togglevidplay()" *ngIf="playvid === false" text="&#xf144;"></Label>
            </FlexBoxLayout>
            <FlexBoxLayout class="audiocontrols">
              <Label (tap)="next()" class="customicons2" text="&#xf04e;"></Label>
            </FlexBoxLayout>
            <FlexBoxLayout *ngIf="myiconsfilter === true && notme === true" class="nonaudio">
               <Label  class="customicons" text="&#xf14d;"></Label>
            </FlexBoxLayout>
          </FlexBoxLayout>
          <FlexBoxLayout class="moresignificant">
              <FlexBoxLayout class="videopausingicon">
                <Label id="myexample2" text="{{durationtemplatetraced}}"></Label>
              </FlexBoxLayout>
              <FlexBoxLayout class="videoslider">
                <Slider class="sliderval" minValue="0" maxValue="100"  [(ngModel)]="sliderValuevid"></Slider>
              </FlexBoxLayout>
              <FlexBoxLayout class="videonumprog">
                  <Label id="myexample" text="{{tracetime}}"></Label>
              </FlexBoxLayout>
          </FlexBoxLayout>
          <FlexBoxLayout class="lowervideocontroller">
            <FlexBoxLayout (tap)="likefunction()" *ngIf="myiconsfilter === true && doilike === false" class="nonaudio1">
              <Label class="customicons" text="&#xf004;"></Label>
            </FlexBoxLayout>
            <FlexBoxLayout (tap)="unlike()" *ngIf="myiconsfilter === true && doilike === true" class="nonaudio1">
              <Label class="liked" text="&#xf004;"></Label>
            </FlexBoxLayout>
            <FlexBoxLayout *ngIf="myiconsfilter === true" (tap)="shuffleme()" class="nonaudio2">
              <Label class="styleforlikesandcomments" [text]="postlikes + ' likes| 20139 views'"></Label>
            </FlexBoxLayout>
            <FlexBoxLayout *ngIf="myiconsfilter === true" class="nonaudio3">
               <Label *ngIf="notme === false" id="oneidforicon2" class="customicons" text="&#xf2ed;"></Label>
            </FlexBoxLayout>
          </FlexBoxLayout>
      </StackLayout>
    </FlexBoxLayout>
  </GridLayout>


  <!--THE UPLOADER-->
  <GridLayout row="0" col="0" rows="auto,*" columns="*" [translateY]="heightforanime" id="hiddenuploader" class="uploadmodal">
    <FlexBoxLayout style.marginTop="35" row="0" col="0" class="notfabbutheaderuploader">
      <FlexBoxLayout class="down-notation">
        <Label class="myprofileicons22" text="&#xf078;"></Label>
      </FlexBoxLayout>
      <FlexBoxLayout class="text-notation">
        <Label class="uppertext" text="Uploader"></Label>
      </FlexBoxLayout>
      <FlexBoxLayout (tap)="upload()" row="3" col="0" class="bottom32">
        <Label fontSize="20" class="myprofileicons22" text="&#xf574;"></Label>
      </FlexBoxLayout>
    </FlexBoxLayout>
    <BottomNavigation row="1" col="0" style.marginBottom="50">
      <TabStrip>
        <TabStripItem class="tabstripitem">
            <Label class="bbottomtext" text="thumbnail"></Label>
            <Image src="font://&#xf03e;" class="icons"></Image>
        </TabStripItem>
        <TabStripItem class="tabstripitem">
            <Label class="bbottomtext" text="sound"></Label>
            <Image src="font://&#xf021;" class="icons"></Image>
        </TabStripItem>
      </TabStrip>
      <TabContentItem>
          <GridLayout row="0" col="0"  rows="auto,*,auto" columns="*">
          <!--the page to get the thumbnail-->
            <FlexBoxLayout row="0" col="0" class="topper">
              <Label textWrap="true" color="white" class="intro" [text]="whatwearedoing"></Label>
            </FlexBoxLayout>
            <FlexBoxLayout (swipe)="hideuploader($event)" row="1" col="0" class="middle">
                <StackLayout>
                    <FlexBoxLayout class="metadata">
                      <TextField [(ngModel)]="input"
                                  returnKeyType="done"
                                  autocorrect="false"
                                  class="input"
                                  hint="newname"
                                  color="#f2aa4c" ></TextField>
                    </FlexBoxLayout>
                    <FlexBoxLayout (tap)="gallery($event)" class="thumbnail22">
                      <Image horizontalAlignment="center" strech="fill" [src]="uploadingthumbnail" ></Image>
                    </FlexBoxLayout>
                </StackLayout>
            </FlexBoxLayout>
            <FlexBoxLayout row="2" col="0" class="bottombottom32">
              <RadListView *ngIf="mimeseparate === 'audio/mp3'" loadOnDemandMode="auto" [items]="potentialthumbnailimages">
                <ng-template  tkListItemTemplate let-item="item">
                  <FlexBoxLayout height="70" width="70" justifyContent="center" alignItems="center">
                    <NSImg fadeDuration="2000" placeholderImageUri="font://&#xf03e;" failureImageUri="font://&#xf03e;" decodeWidth="600" decodeHeight="600" loadMode="async" class="oneofimage" strech="aspectFill" [src]="item" ></NSImg>
                  </FlexBoxLayout>
                </ng-template>
                <ListViewLinearLayout tkListViewLayout scrollDirection="Horizontal"></ListViewLinearLayout>
              </RadListView>
            </FlexBoxLayout>
          </GridLayout>
      </TabContentItem>
      <TabContentItem>
        <!--the page to edit the upload-->
        <Tabs>
          <TabStrip highlightColor="rgb(242, 170, 76)">
            <TabStripItem class="tabstripitem2">
              <Label class="bbottomtext" text="Create"></Label>
            </TabStripItem>
            <TabStripItem class="tabstripitem2">
              <Label class="bbottomtext" text="Library"></Label>
            </TabStripItem>
            <TabStripItem class="tabstripitem2">
              <Label class="bbottomtext" text="Online"></Label>
            </TabStripItem>
            <TabStripItem class="tabstripitem2">
              <Label class="bbottomtext" text="Extract"></Label>
            </TabStripItem>
          </TabStrip>
          <TabContentItem>
            <!--check if it is audio or video and either add a recorder or a video player-->

              <GridLayout rows="*,auto,*" columns="*">
                <FlexBoxLayout row="1" col="0" class="bottompartrecord">
                  <Label (tap)="startrecording()" *ngIf="canrecord === true && isrecording === false " class="iconerr" text="&#xf130;"></Label>
                  <Label (tap)="stoprecording()"  *ngIf="canrecord === true && isrecording === true " class="iconerr" text="&#xf3c9;"></Label>
                  <Label (tap)="cantrecordanything()" *ngIf="canrecord === false" class="iconerr" text="&#xf131;"></Label>
                </FlexBoxLayout>
                <FlexBoxLayout row="0" col="0">
                  <Label textWrap="true" text="{{tofolder}}"></Label>
                </FlexBoxLayout>
                <FlexBoxLayout row="2" col="0">
                  <FlexBoxLayout (tap)="discardrecording()" class="onerecorderbtn">
                    <Label textWrap="true" text="Discard"></Label>
                  </FlexBoxLayout>
                  <FlexBoxLayout (tap)="samplerecording()" class="onerecorderbtn">
                    <Label textWrap="true" text="Sample"></Label>
                  </FlexBoxLayout>
                  <FlexBoxLayout (tap)="useforcustomizing({'data':tofolder , 'type':'audio/mp3'})" class="onerecorderbtn">
                    <Label text="Use"></Label>
                  </FlexBoxLayout>
                </FlexBoxLayout>
              </GridLayout>
          </TabContentItem>
          <TabContentItem>
              <!--render the songs array-->
              <RadListView pullToRefresh="true" loadOnDemandMode="auto" (pullToRefreshInitiated)="songreload($event)" [items]="songs" scrollDirection="Vertical">
                <ng-template  tkListItemTemplate let-item="item">
                  <GridLayout rows="25,25" columns="auto,*">
                    <FlexBoxLayout row="0" col="0" justifyContent="center" alignItems="center">
                      <Label class="songicon" text="&#xf001;"></Label>
                    </FlexBoxLayout>
                    <FlexBoxLayout (tap)="useforcustomizing({'data' : item.songdata , 'name': item.songname , 'type':'audio/mp3'})" (longpress)="playaudio({'uploader': 'uploader', 'data' : item.songdata , 'name': item.songname , 'type':'audio/mp3' , 'from':'library' , 'idr':'library'})" row="0" col="1" justifyContent="center" alignItems="center">
                      <Label class="songname" [text]=item.songname></Label>
                    </FlexBoxLayout>
                    <FlexBoxLayout class="bodytemp" row="1" col="1" justifyContent="center" alignItems="center">
                      <Label class="songname" [text]=item.songartist></Label>
                    </FlexBoxLayout>
                  </GridLayout>
                </ng-template>
              </RadListView>
          </TabContentItem>
          <TabContentItem>
            <!--render online sounds from infinityrealm-->
            <RadListView pullToRefresh="true" loadOnDemandMode="auto" (pullToRefreshInitiated)="songreload($event)" [items]="videos" scrollDirection="Vertical">
              <ng-template  tkListItemTemplate let-item="item">
                <GridLayout rows="50" columns="auto,*">
                  <FlexBoxLayout row="0" col="0" justifyContent="center" alignItems="center">
                    <Label class="songicon" text="&#xf008;"></Label>
                  </FlexBoxLayout>
                  <FlexBoxLayout (tap)="useforcustomizing({'data' : item.videodata , 'name': item.videoname , 'type':'video/mp4'})" (longpress)="playaudio({'uploader':'uploader' , 'data' : item.videodata , 'name': item.videoname , 'type':'video/mp4' , 'from':'library' , 'idr':'library'})" class="bodytemp" row="0" col="1" justifyContent="center" alignItems="center">
                    <Label class="songname" [text]=item.videoname></Label>
                  </FlexBoxLayout>
                </GridLayout>
              </ng-template>
            </RadListView>
          </TabContentItem>
          <TabContentItem>
            <!--render the videos array to exctract sounds from them-->
            <RadListView pullToRefresh="true" loadOnDemandMode="auto" (pullToRefreshInitiated)="songreload($event)" [items]="videos" scrollDirection="Vertical">
              <ng-template  tkListItemTemplate let-item="item">
                <GridLayout rows="50" columns="auto,*">
                  <FlexBoxLayout row="0" col="0" justifyContent="center" alignItems="center">
                    <Label class="songicon" text="&#xf008;"></Label>
                  </FlexBoxLayout>
                  <FlexBoxLayout (tap)="useforcustomizing({'data' : item.videodata , 'name': item.videoname , 'type':'video/mp4'})" (longpress)="playaudio({'uploader':'uploader' , 'data' : item.videodata , 'name': item.videoname , 'type':'video/mp4' , 'from':'library' , 'idr':'library'})" class="bodytemp" row="0" col="1" justifyContent="center" alignItems="center">
                    <Label class="songname" [text]=item.videoname></Label>
                  </FlexBoxLayout>
                </GridLayout>
              </ng-template>
            </RadListView>
          </TabContentItem>
        </Tabs>
      </TabContentItem>
    </BottomNavigation>
  </GridLayout>



  <!--THE PROFILE PAGE-->
  <GridLayout row="0" col="0" [translateY]="-heightforanime" id="myprofilepage22" (swipe)="closeprofpge($event)" class="fullpage" rows="auto,*" columns="*">
    <FlexBoxLayout style.marginTop="30" class="topmost22" row="0" col="0">
      <!--FIRST ROW the username and settings in the middle the -->
      <FlexBoxLayout class="backbtn22">
        <Label class="myprofileicons22" text="&#xf078;"></Label>
      </FlexBoxLayout>
      <FlexBoxLayout class="username22">
        <Label class="usernamestyle22" [text]="username"></Label>
      </FlexBoxLayout>
      <FlexBoxLayout (tap)="logout()" class="settings22">
        <Label class="myprofileicons22" text="&#xf2f5;"></Label>
      </FlexBoxLayout>
    </FlexBoxLayout>

    <RadListView row="1" col="0" class="myradview22" loadOnDemandMode="auto" [items]="categories2">
        <!--Based on time-->
        <ng-template tkListItemTemplate let-item="item">
          <StackLayout class="aout22">
            <GridLayout rows="*" columns="10,*" class="topcategory22">
                <Label col="1" row="0" class="categorysyle22" [text]="item.category"></Label>
            </GridLayout>
            <ScrollView class="myscroll22" orientation="horizontal">
              <FlexBoxLayout class="outscroll22">

                <GridLayout class="uploadtwo22" rows="*,auto" columns="*" *ngFor="let infinite of item.uploads">
                    <FlexBoxLayout col="0" row="0" class="customimg222" (tap)="playfromprof({'uploader2': infinite.uploader2 , 'uploader':infinite.uploader ,'data': readthat+infinite._id , 'name':infinite.display , 'type':infinite.mimetype , 'from':'internet' , 'idr':infinite._id})" >
                      <NSImg class="customgt222" strech="aspectFill" decodeWidth="400" decodeHeight="400" loadMode="async" [src]="readthumbnail+infinite._id"></NSImg>
                    </FlexBoxLayout>
                    <StackLayout class="outerfilenamebox22" col="0" row="1" orientation="vertical">
                      <FlexBoxLayout class="myprivouterbox22">
                          <Label class="filename22" [text]="infinite.display"></Label>
                      </FlexBoxLayout>
                      <FlexBoxLayout class="myprivouterbox222">
                          <Label class="timestampandviews22" [text]="infinite.timestamp | timestr"></Label>
                      </FlexBoxLayout>
                      <FlexBoxLayout class="views22">
                        <Label *ngIf="infinite.mimetype === 'audio/mp3' || infinite.mimetype === 'audio/ogg' || infinite.mimetype === 'audio/wav' || infinite.mimetype === 'audio/aac'" class="newicon22" text="&#xf58f; "></Label>
                        <Label *ngIf="infinite.mimetype === 'video/avi' || infinite.mimetype === 'video/flv' || infinite.mimetype === 'video/mp4' || infinite.mimetype === 'video/mov' || infinite.mimetype === 'video/wmv' || infinite.mimetype === 'video/webm' || infinite.mimetype === 'video/webvtt' || infinite.mimetype === 'video/ogt'" class="newicon22" text="&#xf06e; "></Label>
                        <Label class="timestampandviews222" [text]="infinite.views"></Label>
                      </FlexBoxLayout>
                    </StackLayout>
                </GridLayout>

              </FlexBoxLayout>
            </ScrollView>

          </StackLayout>

        </ng-template>

        <ng-template tkListViewHeader>
          <GridLayout (swipe)="closeprofpge($event)" rows="auto,auto,auto" columns="*">
            <FlexBoxLayout  class="myprofilepicinfo22" row="0" col="0">
              <!--SECOND ROW use a darker color-->
                <FlexBoxLayout class="picture22">
                    <Image (tap)="showmodal()" class="myprofimage22" roundAsCircle="true" horizontalAlignment="center" strech="aspectFill" decodeWidth="400" decodeHeight="400" loadMode="async"[src]="myprofilepicture" ></Image>
                </FlexBoxLayout>
                <FlexBoxLayout class="actuallmetadata22">
                  <StackLayout class="fdr22" orientation="vertical">
                      <Label class="fullname222" [text]="myfullname"></Label>
                      <Label class="email222" [text]="myemail"></Label>
                      <Label class="phone222" [text]="myphone"></Label>
                      <Label class="phone222" [text]="myprofilescoins + ' coins'"></Label>
                  </StackLayout>
                </FlexBoxLayout>
            </FlexBoxLayout>

            <FlexBoxLayout class="information22" row="1" col="0">
              <FlexBoxLayout class="noofposts22">
                <StackLayout orientation="vertical">
                  <FlexBoxLayout class="innerinfometa22">
                    <Label class="justtxt22" text="my uploads"></Label>
                  </FlexBoxLayout>
                  <FlexBoxLayout class="innerinfometa22">
                    <Label [text]="postscount"></Label>
                  </FlexBoxLayout>
                </StackLayout>
              </FlexBoxLayout>
              <FlexBoxLayout class="nooffollowers22">
                <StackLayout orientation="vertical">
                  <FlexBoxLayout class="innerinfometa22">
                    <Label class="justtxt22" text="followers"></Label>
                  </FlexBoxLayout>
                  <FlexBoxLayout class="innerinfometa22">
                    <Label [text]="followerscount"></Label>
                  </FlexBoxLayout>
                </StackLayout>
              </FlexBoxLayout>
              <FlexBoxLayout class="nooffollowing22">
                <StackLayout orientation="vertical">
                  <FlexBoxLayout class="innerinfometa22">
                    <Label class="justtxt22" text="following"></Label>
                  </FlexBoxLayout>
                  <FlexBoxLayout class="innerinfometa22">
                    <Label [text]="followingcount"></Label>
                  </FlexBoxLayout>
                </StackLayout>
              </FlexBoxLayout>
            </FlexBoxLayout>

            <FlexBoxLayout class="more-options22" row="2" col="0">
                <FlexBoxLayout class="editbtn22">
                    <Label class="muedittxtact22" text="Edit Profile"></Label>
                </FlexBoxLayout>
            </FlexBoxLayout>
          </GridLayout>
        </ng-template>

        <ng-template tkListViewFooter>
          <FlexBoxLayout height="48">

          </FlexBoxLayout>
        </ng-template>
    </RadListView>
  </GridLayout>

  <!-- OTHER PEOPLES PROFILE PICTURE THE PROFILE PICTURE-->
  <GridLayout row="0" col="0" [translateY]="-heightforanime" id="otherprofilepage33" (swipe)="closeothersprofpge($event)" class="fullpage" rows="auto,*" columns="*">
    <FlexBoxLayout style.marginTop="30" class="topmost33" row="0" col="0">
      <!--FIRST ROW the username and settings in the middle the -->
      <FlexBoxLayout (tap)="closeothersprofpge22()" class="backbtn33">
        <Label class="myprofileicons33" text="&#xf078;"></Label>
      </FlexBoxLayout>
      <FlexBoxLayout class="username33">
        <Label class="usernamestyle33" [text]="username2"></Label>
      </FlexBoxLayout>
      <FlexBoxLayout class="settings33">
        <Label class="myprofileicons33" text="&#xf06a;"></Label>
      </FlexBoxLayout>
    </FlexBoxLayout>

    <RadListView row="1" col="0" class="myradview33" loadOnDemandMode="auto" [items]="categories3">
        <!--Based on time-->
        <ng-template tkListItemTemplate let-item="item">
          <StackLayout class="aout33">
            <GridLayout rows="*" columns="10,*" class="topcategory33">
                <Label col="1" row="0" class="categorysyle33" [text]="item.category"></Label>
            </GridLayout>
            <ScrollView class="myscroll33" orientation="horizontal">
              <FlexBoxLayout class="outscroll33">

                <GridLayout class="uploadtwo33" rows="*,auto" columns="*" *ngFor="let infinite of item.uploads">
                    <FlexBoxLayout col="0" row="0" class="customimg333" (tap)="playfromprof({'uploader2': infinite.uploader2 , 'uploader':infinite.uploader ,'data': readthat+infinite._id , 'name':infinite.display , 'type':infinite.mimetype , 'from':'internet' , 'idr':infinite._id})" >
                      <NSImg class="customgt333" strech="aspectFill" decodeWidth="400" decodeHeight="400" loadMode="async" [src]="readthumbnail+infinite._id"></NSImg>
                    </FlexBoxLayout>
                    <StackLayout class="outerfilenamebox33" col="0" row="1" orientation="vertical">
                      <FlexBoxLayout class="myprivouterbox33">
                          <Label class="filename33" [text]="infinite.display"></Label>
                      </FlexBoxLayout>
                      <FlexBoxLayout class="myprivouterbox333">
                          <Label class="timestampandviews33" [text]="infinite.timestamp | timestr"></Label>
                      </FlexBoxLayout>
                      <FlexBoxLayout class="views33">
                        <Label *ngIf="infinite.mimetype === 'audio/mp3' || infinite.mimetype === 'audio/ogg' || infinite.mimetype === 'audio/wav' || infinite.mimetype === 'audio/aac'" class="newicon33" text="&#xf58f; "></Label>
                        <Label *ngIf="infinite.mimetype === 'video/avi' || infinite.mimetype === 'video/flv' || infinite.mimetype === 'video/mp4' || infinite.mimetype === 'video/mov' || infinite.mimetype === 'video/wmv' || infinite.mimetype === 'video/webm' || infinite.mimetype === 'video/webvtt' || infinite.mimetype === 'video/ogt'" class="newicon33" text="&#xf06e; "></Label>
                        <Label class="timestampandviews333" [text]="infinite.views"></Label>
                      </FlexBoxLayout>
                    </StackLayout>
                </GridLayout>

              </FlexBoxLayout>
            </ScrollView>

          </StackLayout>

        </ng-template>

        <ng-template tkListViewHeader>
          <GridLayout (swipe)="closeothersprofpge($event)" rows="auto,auto,auto" columns="*">
            <FlexBoxLayout  class="myprofilepicinfo33" row="0" col="0">
              <!--SECOND ROW use a darker color-->
                <FlexBoxLayout class="picture33">
                    <Image (tap)="showmodal()" class="myprofimage33" roundAsCircle="true" horizontalAlignment="center" strech="aspectFill" decodeWidth="400" decodeHeight="400" loadMode="async" [src]="myprofilepicture2" ></Image>
                </FlexBoxLayout>
                <FlexBoxLayout class="actuallmetadata33">
                  <StackLayout class="fdr33" orientation="vertical">
                      <Label class="fullname333" [text]="myfullname2"></Label>
                      <Label class="email333" [text]="myemail2"></Label>
                      <Label class="phone333" [text]="myphone2"></Label>
                  </StackLayout>
                </FlexBoxLayout>
            </FlexBoxLayout>

            <FlexBoxLayout class="information33" row="1" col="0">
              <FlexBoxLayout class="noofposts33">
                <StackLayout orientation="vertical">
                  <FlexBoxLayout class="innerinfometa33">
                    <Label class="justtxt33" text="my uploads"></Label>
                  </FlexBoxLayout>
                  <FlexBoxLayout class="innerinfometa33">
                    <Label [text]="postscount2"></Label>
                  </FlexBoxLayout>
                </StackLayout>
              </FlexBoxLayout>
              <FlexBoxLayout class="nooffollowers33">
                <StackLayout orientation="vertical">
                  <FlexBoxLayout class="innerinfometa33">
                    <Label class="justtxt33" text="followers"></Label>
                  </FlexBoxLayout>
                  <FlexBoxLayout class="innerinfometa33">
                    <Label [text]="followerscount2"></Label>
                  </FlexBoxLayout>
                </StackLayout>
              </FlexBoxLayout>
              <FlexBoxLayout class="nooffollowing33">
                <StackLayout orientation="vertical">
                  <FlexBoxLayout class="innerinfometa33">
                    <Label class="justtxt33" text="following"></Label>
                  </FlexBoxLayout>
                  <FlexBoxLayout class="innerinfometa33">
                    <Label [text]="followingcount2"></Label>
                  </FlexBoxLayout>
                </StackLayout>
              </FlexBoxLayout>
            </FlexBoxLayout>

            <FlexBoxLayout class="more-options33" row="2" col="0">
                <FlexBoxLayout class="followbtn33">
                    <Label class="muedittxtact33" text="follow"></Label>
                </FlexBoxLayout>
                <!--<FlexBoxLayout (tap)="initmessageplatform()" class="messagebtn33">
                    <Label class="muedittxtact33" text="message"></Label>
                </FlexBoxLayout>-->
            </FlexBoxLayout>
          </GridLayout>
        </ng-template>

        <ng-template tkListViewFooter>
          <FlexBoxLayout height="48">

          </FlexBoxLayout>
        </ng-template>
    </RadListView>
  </GridLayout>

  <!--MAPS-->
  <GridLayout [translateX]="-widthforanime" rows="*" columns="*" id="innermappings" class="fullpage">
    <FlexBoxLayout class="mapping" row="0" col="0">
      <ContentView height="100%" width="100%">
          <Mapbox
              accessToken="pk.eyJ1IjoidHJldm9yOTAwdHJpbGwiLCJhIjoiY2sxY2Fta2xmMGV0bjNjbzZqZDNuZnhuayJ9.aoLD1kZ_7pXbp4wZR4oJDg"
              mapStyle="dark"
              latitude="50.467735"
              longitude="13.427718"
              hideCompass="true"
              zoomLevel="18"
              showUserLocation="false"
              disableZoom="false"
              disableRotation="true"
              disableScroll="false"
              disableTilt="false"
              (mapReady)="onMapReady($event)">
          </Mapbox>
        </ContentView>
    </FlexBoxLayout>
    <!--THIS IS HIDDEN BEHIND THE CONTROLS-->
    <GridLayout  style.marginTop="40" style.marginBottom="48" class="controls" row="0" col="0" rows="40,*,55" columns="*">
        <FlexBoxLayout col="0" row="0"class="search">
              <TextField  [(ngModel)]="query"
                          returnKeyType="done"
                          keyboardType="email"
                          autocorrect="false"
                          class="search-input"
                          hint="search an event..."
                          color="black" ></TextField>
              <!--<FlexBoxLayout class="opt">
                <Label color="black" text="hide"></Label>
              </FlexBoxLayout>-->
        </FlexBoxLayout>
        <FlexBoxLayout col="1" row="2" class="markerowner">
            <FlexBoxLayout class="outermymarker">
                <StackLayout orientation="vertical">
                    <FlexBoxLayout class="onemarker">
                        <Label color="black" text="me"></Label>
                    </FlexBoxLayout>
                    <FlexBoxLayout class="onemarker">
                      <Label color="red" class="myicons" text="&#xf3c5;"></Label>
                    </FlexBoxLayout>
                    <FlexBoxLayout class="onemarker">
                      <Label color="black" [text]="mypoints"></Label>
                    </FlexBoxLayout>
                </StackLayout>
            </FlexBoxLayout>
            <FlexBoxLayout class="outermymarker">
              <StackLayout orientation="vertical">
                  <FlexBoxLayout class="onemarker">
                      <Label color="black" text="following"></Label>
                  </FlexBoxLayout>
                  <FlexBoxLayout class="onemarker">
                    <Label color="red" class="myicons" text="&#xf3c5;"></Label>
                  </FlexBoxLayout>
                  <FlexBoxLayout class="onemarker">
                    <Label color="black" [text]="myfollowingpoints"></Label>
                  </FlexBoxLayout>
              </StackLayout>
            </FlexBoxLayout>
            <FlexBoxLayout class="outermymarker">
              <StackLayout orientation="vertical">
                  <FlexBoxLayout class="onemarker">
                      <Label color="black" text="trending"></Label>
                  </FlexBoxLayout>
                  <FlexBoxLayout class="onemarker">
                    <Label color="red" class="myicons" text="&#xf3c5;"></Label>
                  </FlexBoxLayout>
                  <FlexBoxLayout class="onemarker">
                    <Label color="black" text="0"></Label>
                  </FlexBoxLayout>
              </StackLayout>
            </FlexBoxLayout>
            <FlexBoxLayout (tap)="addlocation()" class="outermymarker">
              <StackLayout orientation="vertical">
                  <FlexBoxLayout class="onemarkeradd">
                    <Label class="myicons2" text="&#xf59f;"></Label>
                  </FlexBoxLayout>
              </StackLayout>
            </FlexBoxLayout>
        </FlexBoxLayout>
    </GridLayout>
  </GridLayout>

  <!--THIS IS THE UPLOAD SUPPORT HIDDEN-->
  <GridLayout (swipe)="hidemarkuploader($event)" [translateY]="heightforanime" id="placeamarker" class="fullpage" rows="90,*,90" columns="10,*,10">
    <FlexBoxLayout style.marginTop="28" (tap)="tappedhide()" row="0" col="1" class="toppartofuploader">
      <Label class="myicons3" text="&#xf078;"></Label>
    </FlexBoxLayout>
    <FlexBoxLayout row="1" col="1" class="datetime">
      <StackLayout orientation="vertical">
        <DatePicker year="2010" month="4" day="20"
              [minDate]="minDate" [maxDate]="maxDate"
              (dayChange)="onDayChanged($event)"
              (monthChange)="onMonthChanged($event)"
              (yearChange)="onYearChanged($event)"
              verticalAlignment="center"
              class="mydatepicker">
        </DatePicker>
        <FlexBoxLayout class="chngetext">
            <Label class="datetext" text="Date of this event: "></Label>
            <Label class="actdatetext" [text]="daytext + '/'"></Label>
            <Label class="actdatetext" [text]="monthtext + '/'"></Label>
            <Label class="actdatetext" [text]="yeartext"></Label>
        </FlexBoxLayout>
        <FlexBoxLayout class="chngetext2">
            <TextField  [(ngModel)]="name"
                        returnKeyType="done"
                        keyboardType="email"
                        autocorrect="false"
                        row="0"
                        col="0"
                        class="name-input"
                        hint="name of the event"
                         ></TextField>
        </FlexBoxLayout>
        <FlexBoxLayout class="chngetext2">
            <TextView [(ngModel)]="description" hint="Brief description(optional).." editable="true"
                    class="description-input"></TextView>
        </FlexBoxLayout>
      </StackLayout>
    </FlexBoxLayout>
    <FlexBoxLayout style.marginBottom="48" row="2" col="1" (tap)="placemark()" class="finisher">
        <Label class="actdatetext" text="Place Marker."></Label>
    </FlexBoxLayout>
  </GridLayout>

  <!--THIS IS THE STUDIO-->
  <GridLayout row="0" col="0" (swipe)="hidestudio($event)" [translateY]="heightforanime" id="studiotemp" class="fullpage" rows="35,50,*" columns="*">
    <FlexBoxLayout row="1" col="0" justifyContent="center" alignItems="center">
      <Label class="uppertext" text="Studio"></Label>
    </FlexBoxLayout>
    <Tabs row="2" col="0" style.marginBottom="50">
      <TabStrip highlightColor="rgb(242, 170, 76)">
        <TabStripItem class="tabstripitem2">
          <Label class="bbottomtext" text="Create"></Label>
        </TabStripItem>
        <TabStripItem class="tabstripitem2">
          <Label class="bbottomtext" text="Library"></Label>
        </TabStripItem>
        <TabStripItem class="tabstripitem2">
          <Label class="bbottomtext" text="Online"></Label>
        </TabStripItem>
        <TabStripItem class="tabstripitem2">
          <Label class="bbottomtext" text="Extract"></Label>
        </TabStripItem>
      </TabStrip>
      <TabContentItem>
        <!--check if it is audio or video and either add a recorder or a video player-->
          <GridLayout rows="*,auto,*" columns="*">
            <FlexBoxLayout row="1" col="0" class="bottompartrecord">
              <Label (tap)="startrecording({'from':'studio'})" *ngIf="canrecord === true && isrecording === false " class="iconerr" text="&#xf130;"></Label>
              <Label (tap)="stoprecordinggg()"  *ngIf="canrecord === true && isrecording === true " class="iconerr" text="&#xf3c9;"></Label>
              <Label (tap)="cantrecordanything()" *ngIf="canrecord === false" class="iconerr" text="&#xf131;"></Label>
            </FlexBoxLayout>
            <FlexBoxLayout row="0" col="0">
              <Label textWrap="true" text="{{tofolder}}"></Label>
            </FlexBoxLayout>
            <FlexBoxLayout row="2" col="0">
              <FlexBoxLayout (tap)="discardrecording()" class="onerecorderbtn">
                <Label textWrap="true" text="Upload"></Label>
              </FlexBoxLayout>
              <FlexBoxLayout (tap)="samplerecording()" class="onerecorderbtn">
                <Label textWrap="true" text="Sample"></Label>
              </FlexBoxLayout>
              <FlexBoxLayout (tap)="useforcustomizing({'data':tofolder , 'type':'audio/mp3'})" class="onerecorderbtn">
                <Label text="Save"></Label>
              </FlexBoxLayout>
            </FlexBoxLayout>
          </GridLayout>
      </TabContentItem>
      <TabContentItem>
          <!--render the songs array-->
          <RadListView pullToRefresh="true" loadOnDemandMode="auto" (pullToRefreshInitiated)="songreload($event)" [items]="songs" scrollDirection="Vertical">
            <ng-template  tkListItemTemplate let-item="item">
              <GridLayout (tap)="playaudiofromstudio({'studiotype':'storage' , 'uploader': 'uploader', 'data' : item.songdata , 'name': item.songname , 'type':'audio/mp3' , 'from':'library' , 'idr':'library'})" rows="25,25" columns="auto,*">
                <FlexBoxLayout row="0" col="0" justifyContent="center" alignItems="center">
                  <Label class="songicon" text="&#xf001;"></Label>
                </FlexBoxLayout>
                <FlexBoxLayout row="0" col="1" justifyContent="center" alignItems="center">
                  <Label class="songname" [text]=item.songname></Label>
                </FlexBoxLayout>
                <FlexBoxLayout class="bodytemp" row="1" col="1" justifyContent="center" alignItems="center">
                  <Label class="songname" [text]=item.songartist></Label>
                </FlexBoxLayout>
              </GridLayout>
            </ng-template>
            <ng-template tkListViewHeader>
              <FlexBoxLayout class="studiotmpheader" justifyContent="center" alignItems="center">
                <Label class="songname" text="Browse the audio library for sounds to use in karaoke."></Label>
              </FlexBoxLayout>
            </ng-template>
          </RadListView>
      </TabContentItem>
      <TabContentItem>
        <!--render online sounds from infinityrealm-->
        <RadListView pullToRefresh="true" loadOnDemandMode="auto" (pullToRefreshInitiated)="onlinesongreload($event)" [items]="onlinebeats" scrollDirection="Vertical">
          <ng-template  tkListItemTemplate let-item="item">
            <GridLayout (tap)="playaudiofromstudio({'studiotype':'online' , 'uploader': 'uploader', 'data' : item.songdata , 'name': item.songname , 'type':'audio/mp3' , 'from':'library' , 'idr':'library'})" rows="25,25" columns="auto,*">
              <FlexBoxLayout row="0" col="0" justifyContent="center" alignItems="center">
                <Label class="songicon" text="&#xf001;"></Label>
              </FlexBoxLayout>
              <FlexBoxLayout row="0" col="1" justifyContent="center" alignItems="center">
                <Label class="songname" [text]=item.songname></Label>
              </FlexBoxLayout>
              <FlexBoxLayout class="bodytemp" row="1" col="1" justifyContent="center" alignItems="center">
                <Label class="songname" [text]=item.songartist></Label>
              </FlexBoxLayout>
            </GridLayout>
          </ng-template>
          <ng-template tkListViewHeader>
            <FlexBoxLayout class="studiotmpheader" justifyContent="center" alignItems="center">
              <Label class="songname" text="Browse the audio library for sounds to use in karaoke."></Label>
            </FlexBoxLayout>
          </ng-template>
        </RadListView>
      </TabContentItem>
      <TabContentItem>
        <!--render the videos array to exctract sounds from them-->
        <RadListView pullToRefresh="true" loadOnDemandMode="auto" (pullToRefreshInitiated)="songreload($event)" [items]="videos" scrollDirection="Vertical">
          <ng-template  tkListItemTemplate let-item="item">
            <GridLayout (tap)="useforcustomizing({'data' : item.videodata , 'name': item.videoname , 'type':'video/mp4'})" (longpress)="playaudio({'uploader':'uploader' , 'data' : item.videodata , 'name': item.videoname , 'type':'video/mp4' , 'from':'library' , 'idr':'library'})" rows="50" columns="auto,*">
              <FlexBoxLayout row="0" col="0" justifyContent="center" alignItems="center">
                <Label class="songicon" text="&#xf008;"></Label>
              </FlexBoxLayout>
              <FlexBoxLayout  class="bodytemp" row="0" col="1" justifyContent="center" alignItems="center">
                <Label class="songname" [text]=item.videoname></Label>
              </FlexBoxLayout>
            </GridLayout>
          </ng-template>
          <ng-template tkListViewHeader>
            <FlexBoxLayout class="studiotmpheader" justifyContent="center" alignItems="center">
              <Label class="songname" text="Browse the video library for sounds to use in karaoke."></Label>
            </FlexBoxLayout>
          </ng-template>
        </RadListView>
      </TabContentItem>
    </Tabs>
  </GridLayout>
</GridLayout>
